title: Announcing Hello Web App: Intermediate Concepts (and the Kickstarter campaign!)
# headline: An introduction
excerpt: My goal with Hello Web App was to create a small, easily digestible book that walks you through everything you would need to launch your first web app — albeit, a very basic web app. Since launch, I've had nothing but great feedback and so many people have shared with me their first web apps!
author: Tracy Osborn 
featuredimage: /images/blog/2015/9/4/ks.png
date: 4-9-2015
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

<figure class="full">
    <img src="/static/images/blog/2015/9/4/ks.png" alt=""/>
    <figcaption>Still from the fabulous Kickstarter video!</figcaption>
</figure>


{% filter markdown %}
**My goal with Hello Web App was to create a small, easily digestible book that walks you through everything you would need to launch your first web app** — albeit, a very basic web app. Since launch, I've had nothing but great feedback and so many people have shared with me their first web apps!

There were a lot of concepts that didn't make it into the first book due to their complexity, things that most web apps would probably need at some point, like:

* Taking payments from customers.
* Adding an API.
* Allowing user-uploaded images and editing/resizing those images automatically.
* Adding alerts and admin emails.

There also wasn't a lot of theory in Hello Web App by design, but there are quite a few things that are great to know as you grow as a web app developer, such as:

* Database schema design and reducing queries.
* Class-based views.
* How and why we should read source code.

**All of this and more will be in [Hello Web App: Intermediate Concepts](https://hellowebapp.com/intermediate-concepts)**, the perfect follow-up book to those who've gone through the original Hello Web App tutorial or anyone who has built their first web app and are looking for the next step.

Because I love having a physical book, and physical books cost many thousands in up-front moolas, I'm running another Kickstarter campaign to fund the book!

**Check out the Kickstarter campaign here:
[https://www.kickstarter.com/projects/1868398473/hello-web-app-intermediate-concepts](https://www.kickstarter.com/projects/1868398473/hello-web-app-intermediate-concepts)**

(Highly recommend you check out the video because it was a blast to film.)

**Hello Web App: Intermediate Concepts will be released in December to all backers of the Kickstarter** — the first draft is already finished and I am so excited to release this new book to everyone!
{% endfilter %}
{% endblock body %}
