title: First round of books are here from the printer!
# headline: An introduction
excerpt: Apologies for the potato quality — a friend took these for me! Unfortunately the expedited books I ordered from the printers arrived after I left for Toronto for family obligations, so a dear friend of mine picked up the books for me.
author: Tracy Osborn 
featuredimage: /images/blog/2015/4/27/box.jpeg
date: 27-4-2015
category: announcement
featured: False

{% extends "post.html" %}
{% block body %}

<figure class="full">
    <img src="/static/images/blog/2015/4/27/box.jpeg" alt=""/>
</figure>

<figure class="full">
    <img src="/static/images/blog/2015/4/27/book.jpeg" alt=""/>
</figure>

{% filter markdown %}
Apologies for the potato quality — a friend took these for me! Unfortunately the expedited books I ordered from the printers arrived after I left for Toronto for family obligations, so a dear friend of mine picked up the books for me. She's also taking care of sending the books to Amazon ([because the paperback books now have been added to the Amazon listing](http://amzn.to/1OvNLH3) woohoo!)

Clearer images will be taken as soon as I get home. Just wanted to share the good news!{% endfilter %}

{% endblock body %}
