title: Giving Away Hello Web App v1 Copies
# headline: An introduction
excerpt: I have about 45 of my original Hello Web App printing run left so I'm doing a mini-giveaway!
author: Tracy Osborn 
featuredimage: /images/blog/2015/5/7/shipments.jpeg
date: 13-5-2016
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

{% filter markdown %}
Hello Web App is on its second printing run, and for the reprint, I updated the text for Django 1.8 (which changed how the *urls.py* file is formatted) and fixed up some minor details in text and design.

I have about 45 of the original printing run left so I'm doing a mini-giveaway!

Ideally I'd like to give these to community organizations. I'm happy to give a license for the eBooks along with the paperbacks (so you'll also get the up-to-date digital version of the book). You can also use this reference for updating from Django 1.7 to 1.8 to use with the paperbacks: [https://hellowebapp.com/migrate/](https://hellowebapp.com/migrate/)

Minimum "order" of 5 please! I'll cover shipping as thanks for taking these off my hands. :)

Email me tracy@hellowebapp.com if you're interested!

**All books have been given away, sorry I can't send more!**

{% endfilter %}

{% endblock body %}
