title: Announcing Hello Web Design and the Kickstarter campaign!
# headline: An introduction
excerpt: I have had so much fun with Hello Web App over the last couple of years, and after teaching beginner web app development for so long, I've started thinking about teaching beginner design skills. I love being a generalist with design, development, marketing, and sales skills, and I love helping others learn just enough to be dangerous. After a year of giving my Design for Non-Designers talk around the world, I'm now working on a book!
author: Tracy Osborn 
featuredimage: /images/blog/2017/1/hwd-ks.jpg
date: 21-1-2017
category: announcements
featured: True

{% extends "post.html" %}
{% block body %}

<figure class="full">
    <a href="https://www.kickstarter.com/projects/1868398473/hello-web-design-design-basics-for-non-designers/"><img src="/static/images/blog/2017/1/hwd-ks.jpg" alt=""/></a>
    <figcaption>Still from the fabulous Kickstarter video!</figcaption>
</figure>


{% filter markdown %}

I have had so much fun with Hello Web App over the last couple of years, and after teaching beginner web app development for so long, I've started thinking about teaching beginner design skills.

I love being a generalist with design, development, marketing, and sales skills, and I love helping others learn just enough to be dangerous. After a year of giving my [Design for Non-Designers](https://www.youtube.com/watch?v=lsPrhA_m6ss) talk around the world, I'm now working on a book!

Topics in the book will include:

* Visual web design and cutting down on clutter. 
* Design principles (like color and layout) and shortcuts you can use.
* Writing and perfecting content. 
* User experience and what it means. 
* Training your design eye. 
* Best web resources for learning more. 

Hello Web Design leans on common website patterns as examples, but everything you'll learn will apply to other kinds of design too.

Check out the Kickstarter campaign here:  
[https://www.kickstarter.com/projects/1868398473/hello-web-design-design-basics-for-non-designers/](https://www.kickstarter.com/projects/1868398473/hello-web-design-design-basics-for-non-designers/)

{% endfilter %}

<iframe width="480" height="270" src="https://www.kickstarter.com/projects/1868398473/hello-web-design-design-basics-for-non-designers/widget/video.html" frameborder="0" scrolling="no"> </iframe>

{% filter markdown %}

Eventually, Hello Web Design will also be sold with Hello Web App, creating one awesome "create a web app from scratch" bundle.

Thanks everyone, I hope you support!

{% endfilter %}
{% endblock body %}
