title: Hello Web App: Intermediate Concepts has launched!
# headline: An introduction
excerpt: I'm ridiculously excited to announce that my second book, Hello Web App: Intermediate Concepts, launches to the public today! 
author: Tracy Osborn 
featuredimage: /images/blog/2015/12/7/1.jpg
date: 7-12-2015
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

{% filter markdown %}
I'm ridiculously excited to announce that my second book, *[Hello Web App: Intermediate Concepts](/intermediate-concepts/)*, launches to the public today! 

I wrote *[Hello Web App](/original/)* (by which I mean the original book — I know I made the titles a little confusing) to teach basic web app programming to people who were more visually-oriented or had a web background. I deliberately kept the book very short because I wanted it to be non-intimidating, so it has the bare-minimum you need to launch a working app: a website, login, a database, basic browse pages and object pages. Just enough to launch something.

Of course, web apps usually end up needing more components, like payments, user-uploaded images, and more. *Hello Web App: Intermediate Concepts* helps you build more complex features onto your app, as well as teaching a bit of theory (like proper database design).

<figure class="caption">
    <img src="/static/images/blog/2015/12/7/2.jpg" alt=""/>
    <figcaption>The full Hello Web App set.</figcaption>
</figure>

You can buy *Hello Web App: Intermediate Concepts* on the [order page](/order/), or on [Amazon](http://amzn.to/1lsXlxL) or [Leanpub](https://leanpub.com/hellowebapp-intermediate-concepts).

Thanks to everyone who backed the [Kickstarter campaign](http://kickstarter.com/projects/1868398473/hello-web-app-intermediate-concepts) — without you, this wouldn't have been possible.

So excited to finally have this book out!
{% endfilter %}
{% endblock body %}
