title: Hello Web App paperbacks are back in stock!
# headline: An introduction
excerpt: This is a quick note that Hello Web App is back in stock! The full story of the hullabaloo is coming soon (ships from China, remote packaging assistants, usps.com woes, oh my!) But in the meanwhile, if you were holding back on ordering Hello Web App, now's the time — new paperback orders will be fulfilled and shipped within a week!
author: Tracy Osborn 
featuredimage: /images/blog/2015/6/8/hellowebapp3.jpeg
date: 8-6-2015
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

{% filter markdown %}
This is a quick note that Hello Web App is back in stock! The full story of the hullabaloo is coming soon (ships from China, remote packaging assistants, usps.com woes, oh my!) But in the meanwhile, if you were holding back on ordering Hello Web App, now's the time — __new paperback orders will be fulfilled and shipped within a week!__{% endfilter %}

<a href="https://hellowebapp.com/order" class="btn btn-primary btn-lg">Order Hello Web App Here</a>

{% endblock body %}
