title: Hello Web App Intermediate Concepts is on Product Hunt today!
# headline: An introduction
excerpt: Woke up this morning to Hello Web App: Intermediate Concepts being featured on Product Hunt Books today!
author: Tracy Osborn 
featuredimage: /images/blog/2016/1/25/product-hunt.jpg
date: 25-1-2016
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

<figure class="full">
    <a href="https://www.producthunt.com/books/hello-web-app-intermediate-concepts"><img src="/static/images/blog/2016/1/25/product-hunt.jpg" alt=""/></a>
</figure>

{% filter markdown %}
Woke up this morning to Hello Web App: Intermediate Concepts being featured on
Product Hunt Books today!

[https://www.producthunt.com/books/hello-web-app-intermediate-concepts](https://www.producthunt.com/books/hello-web-app-intermediate-concepts)

Would appreciate any and all "upvotes" that you can spare. I'm working on updating the description of the book now with the Product Hunt people. :)
{% endfilter %}

{% endblock body %}
