title: I self-published a learn-to-code book and made nearly $5,000 in pre-orders
# headline: An introduction
excerpt: On May 4th, my book Hello Web App was released. Since then, hundreds of people used it to learn how to build web apps using Python and Django. Today I share a breakdown of all my sales numbers across all the platforms I used, and some of the lessons I learned:
author: Tracy Osborn 
featuredimage: /images/blog/2015/7/7/banner.png
date: 7-7-2015
category: casestudy
featured: True

{% extends "post.html" %}
{% block body %}

{% filter markdown %}
__On May 4th, my book [Hello Web App](https://hellowebapp.com/) was released. Since then, hundreds of people used it to learn how to build web apps using Python and Django.__

__Today I share a breakdown of all my sales numbers across all the platforms I used, and some of the lessons I learned:__

* Sales by package: eBook vs Physical Book vs Complete Video Package
* Sales by platform: Amazon vs Gumroad vs Leanpub
* Sales by news aggregator: Reddit vs Hacker News vs Product Hunt

First, a bit of background — [I taught myself how to code](http://www.limedaring.com/articles/im-a-designer-who-learned-django-and-launched-her-first-webapp-in-6-weeks/) and in the process I was constantly annoyed at tutorials. Once I finally figured a step out, I'd think, "why the hell do they teach it this way when they could teach it that way?" After four years, not much changed in the Django tutorial eco-system, so I decided to write my ideal tutorial myself. A tutorial that teaches that way.

__I made $4,612.38 in pre-orders plus the launch day__ (not including the Kickstarter, see below). My ideal readers are folks who are thinking about building web apps, but haven't learned how yet — a fairly small amount of people. So that number might not be as large as other self-published authors who post their stats, but I am still very, very happy with how the book is doing.

## Being real about the process and my results

All of my projects (my startup and this book) stem from a love of helping and supporting folks working for themselves. I started [WeddingLovely](http://weddinglovely.com/) to help those who run wedding-related local/small-businesses, and I wrote Hello Web App so I can help people learn how to launch web apps and build their own online businesses.

__I'm publishing these results because I'd love to support those who are thinking of writing their own book__ — I've learned a lot and this process was super enjoyable, and I hope these notes help others make the leap into authorship.

## Note about the Kickstarter campaign
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/7/7/kickstarter.png" alt=""/>
</figure>

{% filter markdown %}
I've technically made more in "pre-orders." I'm not counting the $12,136 I raised on [my Kickstarter campaign](https://www.kickstarter.com/projects/1868398473/hello-web-app-intro-to-building-web-apps-with-djan) in this article (__even though the narrative that I raised $16,748.38 before the release of my book would be really powerful__). The Kickstarter campaign ran almost exactly a year before the launch of the book, meaning the momentum really died down between then and the launch.

I wrote a little bit about the Kickstarter process:

* [Hello Web App's Kickstarter campaign: How I did it, what I regret.](https://hellowebapp.com/news/reviewing-hello-web-apps-kickstarter-campaign)
* [Economics of self-publishing a book via Kickstarter: Hello Web App's story](https://hellowebapp.com/news/economics-of-self-publishing-on-kickstarter)

However, other than some revenue runway, the biggest contribution that the Kickstarter campaign had were emails of interested buyers. __By the time I was ready to launch, my email list for Hello Web App was around 800 potential readers__, which definitely contributed to the pre-order and launch day sales. 

## Breakdown of pricing and sales numbers

### Pricing

I ended up selling Hello Web App on three different platforms with a few different pricing tiers:

* Gumroad
  * __$79__ videos + eBook (.mobi, .ePub, and PDF) package
    * $10 option to add the paperback book (plus shipping for international sales)
  * __$29.95__ paperback + eBook package (plus shipping for international)
  * __$14.95__ eBook package
* Amazon
  * __$19.95__ Paperback book
  * __$9.95__ Kindle eBook
* Leanpub
  * __$9.95__ minimum price, $19.95 suggested price (all Leanpub formatted files.)

A lot of advice articles for self-publishers recommend choosing Amazon or Gumroad, not doing both — since selling on Amazon is going to require a lower price, and you can sell less books for more money on Gumroad. I decided to do both for this release just to test it out, and the jury is still out on whether that was a good decision or not. It certainly means I have to update and track a bunch of different platforms.

### Revenue

Overall, I earned in pre-orders and launch day:

* __Gumroad: $3,618.74__
  * Complete package: $1,788
  * Paperback package: $1,348.34
  * eBook package: $478.40
* __Amazon: $993.64__
  * Kindle: $230.34
  * Paperbacks: $763.30
* __Leanpub: $0__ (unfortunately since you can't sell pre-sell books.) 

Which comes to $4,612.38 in total of pre-orders.

## Breakdown

### Gumroad
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/7/7/gumroad.png" alt=""/>
    <figcaption>Analytics on Gumroad, from the creation of the pre-order page through launch day.</figcaption>
</figure>

{% filter markdown %}
__[Gumroad](http://gumroad.com/) is a platform for selling products, and their small fee (5% + $0.25) is their biggest advantage.__ My profit from selling my products on Gumroad is literally 10x than it is on Amazon. Of course, Gumroad doesn't sell your products for you like Amazon does, so marketing is up to you.

The giant spike in orders a few weeks into the campaign is [my launch on Product Hunt (more on that below).](http://www.producthunt.com/tech/hello-web-app)

__Overall, I've had nothing but good experiences using Gumroad to sell my book__, and they've made selling a book even easier by adding features to sell physical products too, so I can easily sell both the digital and paperback versions of Hello Web App on one platform.

### Leanpub

I love [Leanpub](http://leanpub.com/) — their platform for writing and creating eBooks is simply superb. In particular, [they have a great attitude towards creating your book using their platform and reselling](https://leanpub.com/help/author_faq):

> Leanpub authors can sell their books wherever they want. In particular, we encourage all Leanpub authors to also sell their books on Amazon KDP and Apple once the books are done... We want you to use our store in addition to any others that you use because it's better, not because you're forced to.

Instead of struggling through .mobi and .epub creation on my own or paying someone to make the files for me from my Markdown files (which sounds easy, but really, really wasn't), I used Leanpub to create my eBook files that I'm selling on Amazon and Gumroad (minus the PDF — Gumroad has my design-y one.)

__Unfortunately Leanpub doesn't do "pre-orders" and instead allows visitors to indicate they're interested in the book without taking payment information.__ I've ended up selling ~$100 in orders since launch, but none day-of so I'm not including those numbers here.

### Amazon Direct Publishing (Amazon Kindle)
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/7/7/amazon.png" alt=""/>
</figure>

{% filter markdown %}
Ah, Amazon. The promises of a juggernaut doing all the sales for you. This is how Amazon justifies its extremely high prices. __For Kindle books priced $9.99 and below, you keep 70% of the fee, above $10, you keep only 30%.__ Which means there is this unfortunate price range between $10-20 where it doesn't make sense to sell your book through Amazon — it needs to be priced either higher or lower to make the royalties worth it. __Now you see why Hello Web App is priced at $9.95__, and this was the price that determined the rest of my pricing on other sites.

33 pre-orders feels kind of low, and at $6.98 royalties per book, this lead to $230.34 revenue through Amazon Direct Publishing.

### Amazon Advantage

__[Amazon Advantage](http://advantage.amazon.com/) (the interface for selling physical products through Amazon) is one of the worst interfaces I've ever used.__ Setting up the product listing, getting analytics from sales, getting orders from their automatic interface, trying to set up pre-orders — it's given me nothing but pain. Noticed how this is the only section that does not have a graph? I can't even figure out how to display a nice graph to show you my revenue. Ugh.

Amazon Advantage also has similar royalties to Kindle Direct Publishing: __I keep only 45% of my sale price, meaning when I sell my paperback book for $19.95, I get $8.98.__ Each book costs me $3.60 to produce plus I also have to pay to ship the books to Amazon. So I keep very little of the sale price of the paperback through Amazon.

The number of pre-orders for Hello Web App is a little hard to calculate since there were a few books I bought through Amazon myself, but essentially __I made $763.30 in revenue from the paperback book on Amazon__ (not counting some affiliate revenue I made), and my profit is that number minus shipping and printing costs. 

## Marketing

### Product Hunt

By far, the best results on marketing was through [Product Hunt](http://www.producthunt.com/tech/hello-web-app). 
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/7/7/producthunt.png" alt=""/>
</figure>

<p>I didn't receive an astounding amount of traffic, but it still lead to a large chunk of the revenue from the pre-order:</p>

<figure class="full">
    <img src="/static/images/blog/2015/7/7/preorder.png" alt=""/>
    <figcaption>The Product Hunt launch day is highlighted.</figcaption>
</figure>

<p>About a 1,000 visits for 17 sales isn't that much, but the majority of the buyers bought the video package for $79, leading to the high revenue numbers for that day.</p>

<h3>Hacker News</h3>

<p><a href="https://news.ycombinator.com/item?id=9329942">Got a few points on Hacker News</a>, nothing astounding. Probably since most of the readers on Hacker News already know the basics of web app development, so it's not the best audience.</p>

<figure class="full">
    <img src="/static/images/blog/2015/7/7/hackernews.png" alt=""/>
</figure>

<figure class="full">
    <img src="/static/images/blog/2015/7/7/hackernews2.png" alt=""/>
    <figcaption>16 points.</figcaption>
</figure>

{% filter markdown %}
### Reddit

The second largest marketing boost was through various postings on [Reddit](http://reddit.com/), specifically [/r/learnprogramming](http://reddit.com/r/learnprogramming) and [/r/learnpython](http://reddit.com/r/learnpython). 

__I reached out to one of the mod's of /r/learnprogramming first, since I knew my post would come across as "smarmy marketing" and there was a good chance the post would be downvoted to oblivion.__ The mod warned that if the post got too many flags, it would be removed but I otherwise got the go-ahead. Note to others: self-posts (text posts) on Reddit with personal stories are best when posting your product — directly linking to your product page will come across as too marketing-y and will be downvoted/removed.
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/7/7/reddit.png" alt=""/>
</figure>

<figure class="full">
    <img src="/static/images/blog/2015/7/7/reddit2.png" alt=""/>
    <figcaption>About 1,000 page views overall over the days the post was at the top.</figcaption>
</figure>

{% filter markdown %}
Still got a few comments accusing me of writing a bot to upvote my post, which have since been deleted (sigh).

## Launch day until now

Sales have dropped off a fair bit:
{% endfilter %}

<figure class="caption">
    <img src="/static/images/blog/2015/7/7/launch.png" alt=""/>
    <figcaption>This is total revenue through Gumroad over a period just longer than two months.</figcaption>
    
</figure>

<figure class="caption">
    <img src="/static/images/blog/2015/7/7/launch2.png" alt=""/>
    <figcaption>Kindle sales over the same period of time — a bit over two months. Selling 1-2 per day.</figcaption>
</figure>

{% filter markdown %}
So, Hello Web App is definitely not paying the bills just yet.

__Would I do it again? Definitely.__ The process of writing a book as a side project was surprisingly enjoyable. If I can write a few more books or improve the marketing of Hello Web App, it's possible I could support myself through writing. Not to mention the conference speaking, workshops, and travel benefits. For example, I just ran a workshop at DjangoCon EU in Wales and will be [speaking and workshopping at DjangoCon US](http://www.limedaring.com/speaking/) this September in Austin.

__Overall: A nice chunk of change. Nothing mind-blowing. Worth it.__

I'm considering "Hello Web App: Intermediate Concepts" or maybe "Hello Web Design" for engineers or "Hello Startup" as some next topics I could write about. Prefer one or have another idea? I'd love to hear your thoughts in the comments below!

-------

I have quite a few other articles about the Hello Web App design and production process that you might want to read:

* [Hello Web App's Kickstarter campaign: How I did it, what I regret.](https://hellowebapp.com/news/reviewing-hello-web-apps-kickstarter-campaign)
* [Economics of self-publishing a book via Kickstarter: Hello Web App's story](https://hellowebapp.com/news/economics-of-self-publishing-on-kickstarter)
* [Designing and printing Hello Web App's PDF and paperback editions](https://hellowebapp.com/news/all-about-hello-web-apps-paperback-book-fulfillment)
* [My adventures and advice on fulfilling orders for a printed self-published book](https://hellowebapp.com/news/my-adventures-and-advice-on-fulfilling-orders-for-a-printed-self-published-book)

Of course, you should [buy Hello Web App](http://hellowebapp.com/order) if you're interested in learning web app development. You can download a sample of the book by signing up for the newsletter at the bottom of this page.

[See more discussion about this post on Hacker News.](https://news.ycombinator.com/item?id=9847965)

You should follow me on Twitter for more fun self-publishing tidbits, startup whining, and dorkiness: [@limedaring](http://twitter.com/limedaring)

Thanks for reading!
{% endfilter %}

{% endblock body %}
