title: More photos from the design and review process
# headline: An introduction
excerpt: First pass at formatting the chapters, though now I'm thinking I've spent too much time looking at A Book Apart's gorgeous formatting since it looks pretty similar...
author: Tracy Osborn 
featuredimage: /images/blog/2014/12/25/B5qq8A6CcAAIIn5.jpg
date: 25-12-2014
category: production
featured: False

{% extends "post.html" %}
{% block body %}

<figure class="caption">
    <img src="/static/images/blog/2014/12/25/B5qq8A6CcAAIIn5.jpg" alt=""/>
    <figcaption>Printed out the book to go through it with a pen and highlighter...</figcaption>
</figure>

<figure class="caption">
    <img src="/static/images/blog/2014/12/25/download.jpeg" alt=""/>
    <figcaption>So many pages!</figcaption>
</figure>

<figure class="caption">
    <img src="/static/images/blog/2014/12/25/download-1.jpeg" alt=""/>
    <figcaption>Seriously, edits on EVERY single page. This is like the billionth pass at editing...</figcaption>
</figure>

<figure class="caption">
    <img src="/static/images/blog/2014/12/25/download.png" alt=""/>
    <figcaption>First pass at formatting the chapters, though now I'm thinking I've spent too much time looking at A Book Apart's gorgeous formatting since it looks pretty similar...</figcaption>
</figure>



{% filter markdown %}

{% endfilter %}

{% endblock body %}
