title: Hello Web App's Kickstarter campaign: How I did it, what I regret.
# headline: An introduction
excerpt: I recently released Hello Web App, my book teaching web app development with Python and Django aimed at designers and non-programmers.__ The year-long journey kicked off with a Kickstarter campaign in April 2014. The campaign went super successfully (as you can see!) and now seems like a great time to review __what went well and what I regret.
author: Tracy Osborn 
featuredimage: /images/blog/2015/5/15/kickstarter.jpg
date: 15-5-2015
category: casestudy
featured: True

{% extends "post.html" %}
{% block body %}

<figure class="full">
    <img src="/static/images/blog/2015/5/15/kickstarter.jpg" alt=""/>
</figure>

{% filter markdown %}
__I recently released Hello Web App, my book teaching web app development with Python and Django aimed at designers and non-programmers.__ The year-long journey kicked off with a Kickstarter campaign in April 2014. The campaign went super successfully (as you can see!) and now seems like a great time to review __what went well and what I regret.__

## Deciding to run a Kickstarter campaign
When I conceived the book idea, I was faced the decision whether I should work with a publisher, or whether I should self-publish. In the end, the typical royalty/advance structure turned me away from working with a publisher. __Why not drum up an "advance" by running a Kickstarter campaign? If the campaign was successful, I would be able to bring in some early revenue to help finance my time with writing the book, as well as test demand and start building an audience.__ Seemed like a no-brainer.

## The video
{% endfilter %}

<figure class="full video">
    <iframe src="https://player.vimeo.com/video/121716080" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</figure>

{% filter markdown %}
The heart of a Kickstarter campaign is the video, and I got lucky in that one of my closest friends, [Alexis Keenan, is a videographer and video editor.](http://alexiskeenan.com/) I traded her a new website in exchange for a Kickstarter video.

__We managed to complete the entire video in one day.__ Alexis and I holed up in one of the rooms in my house. It was really echo-y due to the wooden floors, and all around my feet are heaps of blankets and pillows from around the house to dampen the sound.

__I love to speak and tend to do mostly okay off the cuff, but I made the mistake that day by creating an exact script.__ I wish I remembered how many takes we did — at least a hundred (my poor friend.) __I kept getting flustered and felt uncomfortable and couldn't think or speak straight.__ Having two two cameras helped (as Alexis could seamlessly switch between good takes by changing camera angle) but if I recorded a video again, I would try to be a little more off the cuff, or set up a teleprompter.

Again, my friend is a superstar — we finished mid-afternoon after a billion takes, and she edited all evening, producing and editing my video in one day. __She even threw in some bloopers at the end, where you can see how dorky I was getting after doing so many takes.__ You should check them out at the end of the video because they're seriously silly.

## Launching the campaign
{% endfilter %}

<figure class="caption">
    <img src="/static/images/blog/2015/5/15/kickstarter2.png" alt=""/>
</figure>

{% filter markdown %}
__I chose to raise $7,000 — low enough that I felt like I could reach the goal early on.__ I received some advice that campaigns should be about half what someone wants to achieve, __as more people will pile onto a successful campaign than on one that looks like it might not make it.__

At the time of my campaign, Kickstarter used Amazon Payments, and the approval process for an account was *awful*. I needed to fax my passport and my driver's license, and kept getting denied for being "unreadable" even though they looked perfectly readable on my side (I was using Hello Fax). The approval process took at least a very frustrating week.

There is also a separate Kickstarter approval process, and one of my original campaign rewards (books donated to a school of your choosing) had to be removed as donations are not allowed.

It's probably better now, but __it's good to keep in mind that your Kickstarter campaign definitely won't be able to launch immediately due to the approval processes.__

## The marketing

### Landing page
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/5/15/landingpage.png" alt=""/>
</figure>

{% filter markdown %}
Before I launched the campaign, I created a quick website with a form to collect emails. The colors were picked after a quick browse of [ColourLovers](http://www.colourlovers.com/) and the name of the book was literally determined by domain availability (as soon as I found out hellowebapp.com was available, I snatched it up and then named my book.) Note that the earliest version of the website had a comma after "hello."

### PyCon
{% endfilter %}

<figure class="full video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-l3ILra8ewI" frameborder="0" allowfullscreen></iframe>
</figure>

{% filter markdown %}
__I was lucky that the idea for my book happened before [PyCon US 2014](https://us.pycon.org/2014/), the largest worldwide Python conference.__ Six months earlier I submitted a workshop idea off of my original book title, "[Django for Designers.](https://www.youtube.com/watch?v=-l3ILra8ewI_)" This allowed me to test the preliminary content I had for the book — see the workshop video above.

I aimed to launch the Kickstarter campaign right before the conference so I could bug Django and Python heavyweights in person to share my campaign. I had hoped that I could somehow get one of the keynote speakers to mention the campaign in their speeches, which didn't pan out. Everything else worked splendidly — __I was able to talk to a lot of awesome people in person about my campaign and a lot of people were tweeting about it during the conference.__

I also had an awkward moment at one of the PyCon lunches when another table-mate
was also writing their own intro-to-Django book. Competition! (I kid.)

### Cold emails

__I emailed pretty much everyone I knew who had influence in either the developer or designer spaces.__

Everyone hates spam and cold-emails, so I really tried to create an email I could reuse for multiple emails (so I could work fast) that didn't appear like it was copy/pasted. A friendly and conversational tone definitely helps, especially when you're asking someone to pledge to your Kickstarter campaign.

For example, here's an outline of one of the emails I used:

> Hi NAME!

> PERSONAL THANKS/INTRO

> I'm giving a tutorial at PyCon (https://us.pycon.org/2014/schedule/presentation/49/) and just launched a Kickstarter based on the same material I'm presenting:
https://www.kickstarter.com/projects/1868398473/hello­web­app­intro­to­building­web­apps­with-djan

> Would you mind sharing the Kickstarter link? I'm really excited about the book and reaching out to new women to teach basic web app development — hopefully to get more women into our industry.

> Any advice you have for the tutorial, Kickstarter, or anything else would be appreciated! No worries if you don't have time — I'm sure you're super busy. :)

> Cheers, 

> Tracy

I hoped linking to the tutorial I was running would give me more credibility, and I also tried to be respectful of my email recipients time. __I know some people abhor emoticons in emails, but honestly my cold emails almost always have one — I like the informality that they bring.__

### Sharing to mailing lists

Pretty much the same story as the above. Here's the message I passed along to a
few mailing lists I'm on that focus on women-in-tech and programming:

> Hi NAME OF MAILING LIST members,

> I just launched my Kickstarter for my future paperback/ebook teaching basic Python/Django web app development:
https://www.kickstarter.com/projects/1868398473/hello­web­app­intro­to­building­web­apps­with­djan

> I'm focusing on non-­programmers who are intimidated by traditional tutorials, which generally assume previous programming experience and are usually complicated and focus on the command line (official Django tutorial, I'm looking at you.) Hopefully if it's successful, I'll be able to launch everything this summer and even run day­long workshops on the material. I'm really excited about helping more women get into web app dev, since I taught myself to code a few years ago and now I'm running my own startup, and I'd love to get more women into the tech/entrepreneurship worlds. :)
Any advice you have or suggestions, would love to hear them! <3

> Cheers,
> Tracy

Generally, these cold emails and mailing list postings were fairly successful.

### Reddit, Hacker News
{% endfilter %}

<figure class="caption">
    <img src="/static/images/blog/2015/5/15/hackernews.png" alt=""/>
</figure>

{% filter markdown %}
At this time, Product Hunt wasn't around (or at least, wasn't the juggernaut it is now) so I wasn't able to share the Kickstarter campaign there.

I received a fairly okay reception by posting a ["Show HN" on Hacker News](https://news.ycombinator.com/item?id=7699291). __I shared my motivation for writing the book and running the campaign and got on the bottom of the front page which led to a quite bit of traffic and pledges.__

I also posted on the [/r/learnprogramming](http://www.reddit.com/r/learnprogramming/comments/24t1ly/im_writing_a_book_to_teach_beginner_django_web/) and [/r/learnpython](http://www.reddit.com/r/learnpython/comments/24wn4g/im_writing_a_book_to_teach_beginner_django_web/) subreddits, which didn't get that many upvotes or traffic.

### Sponsorships

__As the book features an entire chapter on [Heroku](http://heroku.com/) and I mention [Stripe](http://stripe.com/) a lot__ (and will likely feature Stripe integrations in a future book or blog posts), __I had hoped to convince the companies to sponsor the Kickstarter campaign. Alas, these attempts fell through.__

I applied for a grant from the Python Software Foundation, which was denied after review — they prefer to give grants for workshops or similar educational events. I did receive $400 from the Django Software Foundation (thanks again!)
{% endfilter %}

<figure class="caption">
    <img src="/static/images/blog/2015/5/15/kinsights.png" alt=""/>
</figure>

{% filter markdown %}
At the crux of the campaign, I was contacted by my friend Jackson Wilkinson about his startup [Kinsights](https://kinsights.com/) (a free advice-sharing network for parents) sponsoring my campaign. I worked out a deal with him to feature Kinsights in my promotions, and Kinsights donated the $1,000 that tipped my campaign into funded territory. Thanks again to Jackson and Kinsights!

## Aftermath
{% endfilter %}

<figure class="full video">
    <iframe width="420" height="315" src="https://www.youtube.com/embed/s-r8EbBE8rQ" frameborder="0" allowfullscreen></iframe>
</figure>

{% filter markdown %}
__In the end, I raised $12,136 with 540 backers. Woohoo!__

The entire recap of the economics and where the money went is long enough for its own post, see it here: 

[Economics of self-publishing a book via Kickstarter: Hello Web App's story](http://hellowebapp.com/news/economics-of-self-publishing-on-kickstarter)

## What I recommend others do differently

### Stand (and have some life) in your video

Something small that bugs the hell out of me: __I wish I was standing in my Kickstarter video.__ I wouldn't have been hunching and standing would have given me a lot more movement and freedom.
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/5/15/cookies.jpeg" alt=""/>
</figure>

{% filter markdown %}
### Choose on-topic rewards

One of my Kickstarter rewards was a care package of cookies. __At the time I thought I was being clever__, and wanted something other than books (and more books) as rewards. Unfortunately I can't do anything half-assed — six backers chose this reward, and I stressed myself out baking hundreds of cookies (six different kinds), packaging them up in pretty boxes, and either hand-delivering or shipping the completely cookie care packages. __In hindsight, so much stress for something so completely unrelated to my book.__

### Choose high enough tier amounts

My final prices for my books ended up higher than the tiers — [$14.95 for the digital package, $29.95 for the paperback + digital package.](http://hellowebapp.com/preorder) Close enough to my original $10 and $25, __but the extra $4.95 per tier would have gone a long way and I doubt it would have lowered my pledges.__

### Don't forget potential reward tiers

[I ended up selling an additional $79 tier for the public Hello Web App launch](http://hellowebapp.com/preorder) — video walkthroughs of all the code chapters of the book, and educational videos covering beginner topics such as the command line, Git, and a few others. __This tier actually sells quite healthily and I'm sure my Kickstarter campaign would have raised more money had I thought about offering video education in my award options.__
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/5/15/shipments.jpeg" alt=""/>
</figure>

{% filter markdown %}
### Shipping Internationally costs a lot more than you think

You can set an additional cost for international pledges to cover shipping. Naively, I thought that $5 would cover any additional shipping costs. Turns out, shipping one book to Canada costs a bit over $8 and shipping internationally costs a bit over $13. This discrepancy really adds up when you're shipping 200 books and a good 33% or more of them are international. __It's definitely worth spending some time to figure out what shipping will really cost__, rather than just guessing.

### Potential launch date — set it way farther than you think

I have a very silly drive to set ridiculous deadlines for myself. Usually I hit them, which has created a positive personal habit. __Unfortunately, I made this personal habit public on my Kickstarter campaign, giving myself a deadline for launching the books in just a few months after campaign completion.__

__I would be able to create, design, edit, and launch a short book in just a few months, but definitely not to the standards that I wanted.__ My book ended up being almost a year overdue, something I was reminded by almost daily from messages from backers asking about their rewards. While the deadline said "estimated" and a lot of Kickstarter backers know that deadlines can (and often) will be missed, __I felt terrible for those that backed my campaign and expected the book earlier than I could give them.__ It got to a point where I would have my husband to answer the emails for me as I couldn't handle the depression I would get after telling another person that it would be delayed longer.

## Conclusion
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/5/15/finished-book.jpeg" alt=""/>
</figure>

{% filter markdown %}
__Would I run a Kickstarter campaign again? Definitely.__ Especially for self-publishing, running a Kickstarter allows an author to build an "advance" without having to give up 90%+ of their royalties. I made some really silly mistakes in hindsight, but I learned a lot from this experience. 

-------

I have quite a few other articles about the Hello Web App design and production process that you might want to read:

* [I self-published a learn-to-code book and made nearly $5,000 in pre-orders](https://hellowebapp.com/news/how-i-launched-my-learn-to-code-book-and-made-nearly-5000-in-pre-orders)
* [Economics of self-publishing a book via Kickstarter: Hello Web App's story.](https://hellowebapp.com/news/economics-of-self-publishing-on-kickstarter)
* [Designing and printing Hello Web App's PDF and paperback editions](https://hellowebapp.com/news/all-about-hello-web-apps-paperback-book-fulfillment)
* [My adventures and advice on fulfilling orders for a printed self-published book](https://hellowebapp.com/news/my-adventures-and-advice-on-fulfilling-orders-for-a-printed-self-published-book)

Of course, you should [buy Hello Web App](http://hellowebapp.com/order) if you're interested in learning web app development. You can download a sample of the book by signing up for the newsletter at the bottom of this page.

You should follow me on Twitter for more fun self-publishing tidbits, startup whining, and dorkiness: [@limedaring](http://twitter.com/limedaring)

Thanks for reading!
{% endfilter %}

{% endblock body %}
