title: The Hello Web App: Intermediate Concepts Kickstarter ends in less than a week!
# headline: An introduction
excerpt: Just wanted to put out a quick post to remind y'all that the Hello Web App: Intermediate Concepts Kickstarter is ending in less than a week!
author: Tracy Osborn 
featuredimage: /images/blog/2015/9/28/1.jpg
date: 28-9-2015
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

<figure class="full video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hh03r08bJYk" frameborder="0" allowfullscreen></iframe>
</figure>

{% filter markdown %}
^^^ My dorky update video!

Just wanted to put out a quick post to remind y'all that the Hello Web App: Intermediate Concepts Kickstarter is ending in *less than a week!*

Campaign link: 
[https://www.kickstarter.com/projects/1868398473/hello-web-app-intermediate-concepts](https://www.kickstarter.com/projects/1868398473/hello-web-app-intermediate-concepts)

Kickstarter backers will get the new book in December (and if you don't have #1 yet, those rewards will ship next month.)

Pre-order your next Hello Web App book and continue your web app development journey!
{% endfilter %}

{% endblock body %}
