title: Two workshops scheduled for May!
# headline: An introduction
excerpt: I'll be running workshops on the Hello Web App material at two events in May. If you're in these areas and are on the fence about writing web apps, this'll be a great opportunity to walk through the Hello Web App content (plus you'll get a copy of the book to keep at the end!)
author: Tracy Osborn 
featuredimage: /images/blog/2015/4/13/workshops.png
date: 13-4-2015
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

<figure class="full">
    <img src="/static/images/blog/2015/4/13/workshops.png" alt=""/>
</figure>

{% filter markdown %}
I'll be running workshops on the Hello Web App material at two events in May. If you're in these areas and are on the fence about writing web apps, this'll be a great opportunity to walk through the Hello Web App content (plus you'll get a copy of the book to keep at the end!)

First up: [Refresh Portland, May 21st](http://rfrshpdx.org/build-a-web-app-workshop/). This is a half-day afternoon workshop for $125, and we'll be getting beers after too. Also, on the 20th I'll also be giving a [talk about the book writing process too](http://rfrshpdx.org/so-you-want-to-write-a-book/)!

Then I'll be at [DjangoCon EU](http://2015.djangocon.eu/event/django-web-designers/) in Cardiff, Wales, giving a workshop on the Open Day (May 31st.) This is a completely free workshop, open to non-conference attendees as well. 

Hope you can join me for an in-person workshop!{% endfilter %}

{% endblock body %}
