title: Out of stock of paperback books — new shipments happening in early June.
# headline: An introduction
excerpt: This is my excerpt
author: Tracy Osborn 
featuredimage: /images/blog/2015/5/7/shipments.jpeg
date: 7-5-2015
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}


{% filter markdown %}
Well, that was quick. The 200 expedited books I ordered (out of a 1,000 order shipment) have been consumed by Kickstarter backers, Amazon orders, and Gumroad orders (Amazon shows that it's out of stock right now — I actually just sent 81 so it should come back in stock next week but it might sell out again quickly.) These orders will ship out tomorrow or early next week.

Any paperback orders from today on out will be shipped when the rest of my 800 books arrive in early June. They're currently noodling around on a cargo ship in the Pacific somewhere.

[That said, all orders get a copy of the digital books](https://hellowebapp.com/preorder), so don't let this stop you from ordering and starting your web app journey!
{% endfilter %}

{% endblock body %}
