title: Economics of self-publishing a book via Kickstarter: Hello Web App's story
# headline: An introduction
excerpt: This is my excerpt
author: Tracy Osborn 
featuredimage: /images/blog/2015/5/14/shipping.jpeg
date: 14-5-2015

{% extends "post.html" %}
{% block body %}

<figure class="full">
    <img src="/static/images/blog/2015/5/14/kickstarter.png" alt=""/>
</figure>

{% filter markdown %}
About a year ago, I ran a [Kickstarter for Hello Web App](https://www.kickstarter.com/projects/1868398473/hello-web-app-intro-to-building-web-apps-with-djan) — and now that [the book has officially launched](https://hellowebapp.com/preorder), I thought it would be useful to run down how much money the Kickstarter raised and where it went!

__Note__: There will be another post after this one covering setting up the campaign and the regrets I have about the rewards and other details, but the economics of a project is such a long topic already that I wanted to devote an entire post to it.

([Big thanks to Cameron Moll for being the inspiration for this post.](https://medium.com/@cameronmoll/the-economics-of-a-kickstarter-project-5b374cfeb43c))
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/5/14/graph.png" alt=""/>
</figure>

{% filter markdown %}
The Hello Web App Kickstarter campaign raised $12,136 (173% of the original $7,000 goal) from 540 backers. 
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/5/14/barchart.png" alt=""/>
</figure>

<figure class="full">
    <img src="/static/images/blog/2015/5/14/piechart.png" alt=""/>
</figure>

{% filter markdown %}
It's interesting to note that while the average pledge amount was $22.48, the vast majority of backers (322 total out of 540 backers) chose the $10 pledge.

## Economics breakdown

### Total amount deposited after fees: $10,806

Kickstarter takes 5% and Amazon Payments (which Kickstarter used at the time of my campaign) takes 3-5% depending on region. 

### Taxes: -$2,000 ($8,806 profit remaining)

As soon as I got my deposit, I squirreled away $2,000 for my eventual taxes. Unfortunately shipping the books happened in the next calendar year, so I had to pay taxes on my entire payment since I couldn't claim any deductions. Note that this is a guesstimate — my taxes were combined with my husband's.
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/5/14/shipping.jpeg" alt=""/>
</figure>

{% filter markdown %}
### Book printing: -$1,037 ($7,769 profit remaining)

I almost printed the books for ~$10 per book, which (in hindsight) would have been devastating. I ended up going with [Print Ninja](http://printninja.com/) for the paperback printing, __which ended up giving me a per-book cost of $3.60__ (I ordered 1,000 copies, 200 expedited, with additional costs for color pages, thicker cover and paper stock, and a spot-gloss on the cover.)

Kickstarter backers ended up "ordering" a total of 288 paperback books, __which comes out to about $1,037 in printing costs.__

### Book shipping though Amazon: -$655 ($7,114 profit remaining)

I'm selling Hello Web App through a number of different channels ([Gumroad](http://gumroad.com/limedaring), which has the least fees, [Amazon](http://amzn.to/1yLsHFH), where I get the least profit but theoretically bigger distribution, and [Leanpub](https://leanpub.com/hellowebapp)). I read in a few sources that it was worth it to order a bunch of copies of your own book for your Kickstarter backers so you can get on Amazon's best-selling lists, which I did the day of launch.

I ended up ordering 55 copies of the book for various backers, which cost overall $1,159 at approximately $21 per book (the $19.95 book price plus sales tax.) I'll eventually receive money back from Amazon for the books ($8.98 per book, so $494), which brings the total cost of shipping via Amazon to $665. (There is also the cost per book for shipping to Amazon, but that ended up being around $0.30 per book so I didn't include it here.)

Was it worth it? I'm not sure — Amazon didn't order enough from me to cover the launch day rush (and I didn't realize at the time I could ask for an increased order) so the books went out of stock immediately. I have no way of telling, but I am __pretty sure this negated the effect my book buying had on the ranking of the book.__
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/5/14/packing.jpeg" alt=""/>
</figure>

{% filter markdown %}
### Book shipping myself domestically: -$164 ($6,950 profit remaining)

[Did you know you can ship books domestically using USPS's "Media Mail" option for __much__ lower shipping costs?](http://www.ebay.com/gds/Making-the-Most-of-Media-Mail-Save-Cents-on-Shipping-/10000000000902588/g.html) I didn't before this project. Media Mail is slower than typical shipments through USPS but the cost savings is ginormous. Shipping one book costs $2.92, and the total cost to ship books domestically $164.

Also — you can't print Media Mail labels from USPS.com, but you can through Paypal. However, Paypal's system is really buggy and I kept getting random errors. I also tried stamps.com, but their system seemed even worse and they required me to call them to cancel my account (and answer a survey augh), which is a terrible business practice so they're now boycotted.
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/5/14/boxes.jpeg" alt=""/>
</figure>

{% filter markdown %}
### Book shipping myself internationally: -$744 ($6,206 profit remaining)

I made a huge mistake when I chose the additional amounts for shipping for the Kickstarter pledges. I set international shipping at $5 extra, but turns out that shipping a book internationally is much more than that — ~$8 for Canada, and $13 for overseas shipments. 

I ended up sending a message to Kickstarter backers of the $25 tier, hat in hand, asking if people won't mind sending over the extra money to cover shipping, and a few did, some much more than I asked. The generosity of strangers always amazes me — thanks again to everyone who sent over more money.

The approximate total for international shipping ended up being around $844. I received around $100 in donations for shipping from various backers, which brings the total cost of shipping to $744.{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/5/14/happ.jpeg" alt=""/>
</figure>

{% filter markdown %}
### Packaging supplies for shipping: -$100 ($6,106 profit remaining)

Of course I needed to buy supplies for packaging my books for shipment — toner, printing labels, bags, and bubble wrap came to approximately $100.
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/5/14/fullbook.jpeg" alt=""/>
</figure>

{% filter markdown %}
## $6,000 Profit?

Having ~$6,000 left on a $12,000 Kickstarter raise isn't that bad. __However, the entire process took about a year, and I probably spent thousands of hours on researching, writing, editing, designing, and marketing the book before the public release.__ I don't actually make that much money from my [day job](http://weddinglovely.com/) (~$20,000/year), so this profit went directly into my living expenses and __I actually fell into debt the last few months because I didn't have enough money left over to pay my bills.__ Had I actually produced the book within the few months time period I originally estimated, $6,000 on top of producing and shipping fees isn't bad, but didn't last when stretched over a year. 

My intent is not to complain, rather, note that while the numbers above sound great, __the number of hours I spent on the project probably meant I earned less than minimum wage.__ Yeehah.

*But* — the book is now selling and hopefully the debt hole I dug myself into will slowly get filled. I'm getting great reviews on the book (yay!) and have been booking [workshops](https://hellowebapp.com/workshops) on the book's content.
{% endfilter %}

<figure class="full">
    <img src="/static/images/blog/2015/5/14/packing.gif" alt=""/>
</figure>

{% filter markdown %}
-------

I have quite a few other articles about the Hello Web App design and production process that you might want to read:

* [I self-published a learn-to-code book and made nearly $5,000 in pre-orders](https://hellowebapp.com/news/how-i-launched-my-learn-to-code-book-and-made-nearly-5000-in-pre-orders)
* [Hello Web App's Kickstarter campaign: How I did it, what I regret.](https://hellowebapp.com/news/reviewing-hello-web-apps-kickstarter-campaign)
* [Designing and printing Hello Web App's PDF and paperback editions](https://hellowebapp.com/news/all-about-hello-web-apps-paperback-book-fulfillment)
* [My adventures and advice on fulfilling orders for a printed self-published book](https://hellowebapp.com/news/my-adventures-and-advice-on-fulfilling-orders-for-a-printed-self-published-book)

Of course, you should [buy Hello Web App](http://hellowebapp.com/order) if you're interested in learning web app development. You can download a sample of the book by signing up for the newsletter at the bottom of this page.

You should follow me on Twitter for more fun self-publishing tidbits, startup whining, and dorkiness: [@limedaring](http://twitter.com/limedaring)

Thanks for reading!
{% endfilter %}

{% endblock body %}
