title: Coming to DjangoCon EU? Order a copy of Hello Web App!
# headline: An introduction
excerpt: This is my excerpt
author: Tracy Osborn 
featuredimage: /images/blog/2015/5/12/djangocon.png
date: 12-5-2015
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

{% filter markdown %}
Coming to [DjangoCon EU](http://2015.djangocon.eu/) in Cardiff, Wales later this month? You can order a copy of Hello Web App and get it at registration, saving ~$12 USD on international shipping! I'm also donating a portion of the sales to DjangoCon's diversity fund. 

[Click here to order a copy for US$19.95 (£13.50)](http://2015.djangocon.eu/news/hello-web-app/) to be picked up at DjangoCon registration.

I'll also be running a workshop at DjangoCon on the Open Day called [Django for Designers](http://2015.djangocon.eu/event/django-web-designers/) based on the Hello Web App content. If you're at DjangoCon, come say hi, would love to meet you!
{% endfilter %}

{% endblock body %}
