title: New photos of the final cover design!
# headline: An introduction
excerpt: This is my excerpt
author: Tracy Osborn 
featuredimage: /images/blog/2015/5/7/hellowebapp3.jpeg
date: 7-5-2015
category: design
featured: False

{% extends "post.html" %}
{% block body %}

<figure class="full">
    <img src="/static/images/blog/2015/5/7/hellowebapp1.jpeg" alt=""/>
</figure>

<p>When I finished a preliminary version of Hello Web App, I immediately ordered a one-off copy with my draft cover from Magcloud, which is a really awesome print-on-demand service. It cost $26 but having a physical book in hand meant I could plaster this website and all marketing materials with photos of the book early. Photos are so much better than mockups! </p>

<figure class="full">
    <img src="/static/images/blog/2015/5/7/hellowebapp2.jpeg" alt=""/>
</figure>

<p>
I've updated the cover slightly since the original one, but unfortunately the final copies of the books arrived at my house after I departed on a three week trip to visit my husband's family and friends in Toronto. So I didn't get to see the final book design until I returned a few days ago. And how did the books turn out?
</p>

<figure class="full">
    <img src="/static/images/blog/2015/5/7/hellowebapp3.jpeg" alt=""/>
</figure>

<p>AWESOMELY. The best part is the spot gloss on the title that I decided to add on a whim. Suffice to say, I am VERY pleased with the final book design. I decided not to pay an extra $250 for a physical proof, so all of my cover and text paper weights, the gloss, and the final cover color were guesses that I hoped would turn out as splendidly as I imagined.</p>

<p><a href="http://amzn.to/1yLsHFH">Amazon</a> should be restocked by next week at the latest, and I am shipping out books throughout this week to <a href="http://gumroad.com/limedaring">Gumroad</a> payments and <a href="https://www.kickstarter.com/projects/1868398473/hello-web-app-intro-to-building-web-apps-with-djan">Kickstarter</a> backers.</p>

<p><strong>I am so so so very happy. Want a copy? <a href="http://hellowebapp.com/preorder">Order one here!</a></strong></p>

<p>Also, If you're coming to DjangoCon EU (<a href="http://2015.djangocon.eu/event/django-web-designers/">where I'm giving a workshop!</a>) you can also <a href="http://2015.djangocon.eu/news/hello-web-app/">order a copy here and pick it up at registration, saving $10 USD in shipping</a>.</p>

<p>What do you think of the cover?</p>


{% endblock body %}
