title: Official release date + pre-orders for Hello Web App!
# headline: An introduction
excerpt: Thank you everyone who has been following along in my journey with Hello Web App — from ideation, to Kickstarter, to writing (and writing, and editing, and writing, and throwing my hands in the air, and editing some more) to finally, A RELEASE DATE!
author: Tracy Osborn 
featuredimage: /images/blog/2015/3/30/new-cover-design.png
date: 30-3-2015
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

<figure class="caption">
    <img src="/static/images/blog/2015/3/30/newcover.jpeg" alt=""/>
    <figcaption>The preview book, old cover design.</figcaption>
</figure>

<figure class="caption">
    <img src="/static/images/blog/2015/3/30/new-cover-design.png" alt=""/>
    <figcaption>The final cover design.</figcaption>
</figure>

{% filter markdown %}
Thank you everyone who has been following along in my journey with Hello Web App — from ideation, to [Kickstarter](https://www.kickstarter.com/projects/1868398473/hello-web-app-intro-to-building-web-apps-with-djan), to writing (and writing, and editing, and writing, and throwing my hands in the air, and editing some more) to finally, A RELEASE DATE! 

**On May 4th, Hello Web App will be sold through [Gumroad](https://gumroad.com/limedaring), [Leanpub](https://leanpub.com/hellowebapp/), and [Amazon](http://amzn.to/1P59Uex)** (only Kindle at the moment — paperback coming soon.)

Pricing:

* **[$79: Complete Hello Web App eBook + videos bundle](http://gum.co/hellowebapp-videos)** — I'm creating video walkthroughs of the Hello Web App code, plus intros to git, command line, and more. $10 extra to receive the print paperback as well.
* **[$29.95: Hello Web App eBook + paperback book bundle](https://gumroad.com/l/hellowebapp)** — All eBook files below plus the paperback book.
* **[$14.95: Hello Web App eBook bundle](https://gumroad.com/l/hellowebapp-ebook)** — fully designed PDF, .mobi, and .ePub files.
* **[$14.95: Leanpub bundle](https://leanpub.com/hellowebapp/)** — Leanpub designed PDF, .mobi, and .ePub files. Not as pretty as the official PDF but I know some people prefer Leanpub.
* **[$9.95: Kindle on Amazon](http://amzn.to/1bK9oSs)** — will announce paperback on Amazon once it's up.

The book is officially off to [PrintNinja](http://www.printninja.com/) for printing. I'm super excited about the physical book, as the cover has been updated from the first test print I made (seen above) and "Hello Web App" will be in a spot gloss that'll really make it shine.

In the coming weeks, I'm going to do a big marketing hullabaloo leading up to the launch. Interviews with awesome people who've learned to develop web apps, workshop announcements (hint: Portland in May!) and previews of the screencasts that'll be in the [complete Hello Web App package sold through Gumroad](https://gumroad.com/l/hellowebapp-videos). 

Pre-order your book if you haven't already!{% endfilter %}

{% endblock body %}
