title: Starting work on the editorial design!
# headline: An introduction
excerpt: This is my excerpt
author: Tracy Osborn 
# featuredimage: /images/blog/2014/12/29/download.png
date: 17-12-2014
category: design
featured: False

{% extends "post.html" %}
{% block body %}

<figure class="full">
    <img src="/static/images/blog/2014/12/17/download.png" alt=""/>
</figure>

{% filter markdown %}
 1st pass, still working on a lot of the design BUT it's starting to look pretty awesome. Full book is going to be around 130 pages or so. Exciting!
{% endfilter %}

{% endblock body %}
