title: The Kickstarter Alpha version has been released!
# headline: An introduction
excerpt: This is my excerpt
author: Tracy Osborn 
featuredimage: /images/blog/2014/12/29/download.png
date: 29-12-2014

{% extends "post.html" %}
{% block body %}

<figure class="caption">
    <img src="/static/images/blog/2014/12/29/download.png" alt=""/>
    <figcaption>Preview of the Hello Web App PDF</figcaption>
</figure>

{% filter markdown %}
The Kickstarter alpha version PDF of Hello Web App has been released! If you're a backer ($10 and above), check your email for a Kickstarter update with the link.

There are still some minor things wrong (screenshots need to be retaken, code snippets need some more styling, might be typos/issues still) but overall — 95% done. It's quite exciting.

Now to finish up the ebook and print versions!
{% endfilter %}

{% endblock body %}
