title: Why should you learn how to build web apps? My interview with Nicole Ziemlak.
# headline: An introduction
excerpt: This is my excerpt
author: Tracy Osborn 
featuredimage: /images/blog/2015/4/29/nicole.jpeg
date: 29-4-2015
category: interview
featured: True

{% extends "post.html" %}
{% block body %}

<figure class="caption">
    <img src="/static/images/blog/2015/4/29/nicole-small.jpeg" alt=""/>
</figure>

{% filter markdown %}
*Curious about building web apps? I interviewed recent programmers about their experiences learning to code and where they are now. Please welcome Nicole Ziemlak, recent graduate of [Hackbright Academy](http://hackbrightacademy.com/) in San Francisco.*

## Hi Nicole — what's your background?

I majored in literature and creative writing in college, and then taught high school and GRE test prep for a couple years before eventually moving to San Francisco. **I'd always been interested in technology from a consumer's perspective, but being surrounded by so many developers inspired me to try creating my own programs.** I took a job at a non-profit organization that partnered with some major players in the industry (e.g. Microsoft, Intuit, Symantec), hoping that I would be able to teach myself programming on my own and maybe move into a more technical role. 

## What inspired you to learn programming?

I started teaching myself the basics of a few programming languages (Python, Ruby, Java) as well as some basic web development (HTML, CSS, Javascript) using free online resources such as [Codecademy](http://codecademy.com/) and language-specific tutorials. **The problem was that every time I'd get to the end of one of these tutorials, I found I had enough knowledge to write very simple programs, but I knew nothing about how to create a web app.** I didn't even fully understand what a framework like Django or Rails was, and the tutorials on them seemed to expect more cohesive knowledge from the beginning--knowledge that I hadn't learned through the tutorials I was following. 

In my search for resources that could bridge that gap between programming knowledge and a fully-fledged web application, I stumbled upon coding bootcamps. There are quite a few in San Francisco, so I attended a few info sessions and started my applications. When I went to visit Hackbright Academy, I knew I had found my top choice: this program had great placement statistics; the instruction was based in Python, which was my favorite of the languages I'd been learning; and the cohort was entirely female. The gender disparity in tech is something that both fascinates and frustrates me to no end, and Hackbright seemed like the best way to find a network of talented, intelligent women that would all be working in the same male-dominated field. 

## Tell me a little bit about the Hackbright Academy experience!

I was accepted into Hackbright's Winter 2015 cohort and we spent the first 5 weeks learning Python, Javascript, SQL, and Flask, while building small programs that knitted everything together. I was particularly enamored with Flask, and so when we began the 4 week period for our individual projects, I decided to teach myself Django, which I'd heard a bit about through Python-focused job descriptions. **I used the Django docs and as many online tutorials as I could get my hands on to figure out how to set up a web app from scratch.**

## Anything cool you've built or would like to mention?

My final project is a recipe management app called [Chomp!](http://chompbang.com/) and you can check out my code and a fairly extensive walkthrough in my [Github README](https://github.com/imnikkiz/Chomp). I just accepted a position as a Software Engineer at [Minted](http://www.minted.com/) and am looking forward to learning about programming larger-scale web apps on the job. 

## Are you happy you learned how to program?

**Overall, I am so glad I challenged myself to learn how to code.** While I'm still looking for my first job as a software engineer, I've spent the last couple of weeks interviewing at exciting, innovative companies where I'll be working on the technologies I used to just passively consume. **I now have the tools to create and build anything I can dream up.**

*Thanks Nicole! Hackbright Academy is a great resource for those that are looking for a complete software engineering education. [Learn more about Hackbright Academy here](http://hackbrightacademy.com/).* 

*[See my previous interview with Nicole Zuckerman here](http://hellowebapp.com/news/why-learn-how-to-build-web-apps-interview-nicole-zuckerman).*
{% endfilter %}

{% endblock body %}
