{% extends "base.html" %}

{% block title %}About the Author - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("About the Author");
{% endblock %}

{% block bodyclass %}
<body id="setup">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h1>About the Author</h1>
        </div>
        <div class="col-md-3 text-right" style="padding-right: 40px;">
                    <section class="sharing">
                        <div>
                            <a class="twitter" href="http://twitter.com/home/?status={{ title }} https://hellowebapp.com/{{ path|cut:".html" }}/ (via @hellowebapp)"><i class="fa fa-twitter"></i></a>

                            <a class="facebook" href="#" onclick="
                                window.open(
                                'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                                'facebook-share-dialog', 
                                'width=626,height=436'); 
                                return false;"><i class="fa fa-facebook"></i> 
                            </a>
                            <a class="mail" href="mailto:?subject={{ title }}&amp;body=Here's the link: https://hellowebapp.com/{{ path|cut:".html" }}/"><i class="fa fa-envelope"></i></a>
                        </div>
                    </section> 
            <h3>Previous chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/tutorial/friendly-note.html' %}">Friendly Note</a></li>
            </ol>
            <h3>Buy the book:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/order.html' %}">Order Hello Web App</a></li>
            </ol>
        </div>

        <div class="col-md-9">
{% filter markdown %}

Tracy Osborn is a designer, developer, and entrepreneur living in the Bay Area of California. Building websites since she was twelve, she always felt an affinity to computers, the internet, and what it brings us. 

Tracy graduated with a BFA in Art &amp; Design with a concentration in Graphic Design from California Polytechnic State University, San Luis Obispo, and worked as a web designer for five years before teaching herself programming and launching her first startup, WeddingLovely. 

She's also an avid outdoorswoman, hiking over 200 miles on the John Muir Trail solo in 2014.

{% endfilter %}

{% include 'includes/tutorial-footer.html' with prevname="Friendly Note" prevlink="/tutorial/friendly-note.html" title="About the Author" path="/tutorial/about-author.html" %}

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
<link rel="stylesheet" href="{% static '/css/tomorrow.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}
