{% extends "base.html" %}

{% block title %}Chapter 12: Setting Up Basic Browse Pages - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Chapter 12: Setting Up Basic Browse Pages");
{% endblock %}

{% block bodyclass %}
<body id="setup">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>

{% filter markdown %}

# Setting Up Basic Browse Pages

Right now our app allows people to sign up, create a `Thing`, and then edit
their `Thing`. However, the only way for users to browse all the `Thing`s your
web app contains is by going to your homepage. Let's set up a basic browse page.

***Note:** We won't be setting up text search, like Google, due to it being way
more complex and beyond the scope of this book. If you're interested in learning
more about how to do this, check out Haystack
([http://hellowebapp.com/28](http://hellowebapp.com/28)).*

As we only have a few fields on our model, let's build a page that just lists
every `Thing` we have by name.

You'll probably want to add browse pages for each of those fields as you fill
out your model with new fields for what you're specifically building. For
example, my first Django project had fields for price range and location, and
therefore "narrow by price" and "narrow by location" pages. We're going to build
a simple example here, which is easily copied for other use-cases.

## Set up your URL routing

Back to the familiar URLs-views-templates routine. Add in this new line:

*urls.py*
{% endfilter %}

<pre><code class="python">
# our new browse flow
<b>url(r'^browse/name/$',
    views.browse_by_name, name='browse'),
url(r'^browse/name/(?P<initial>[-\w]+)/$', 
    views.browse_by_name, name='browse_by_name'),</b>

# password reset URLs
url(r'^accounts/password/reset/$', 
    password_reset,
    {'template_name': 'registration/password_reset_form.html'},
    name="password_reset"),
</code></pre>

{% filter markdown %}
We're going to set up two new URLs at once: The first, which we'll list out
every `Thing`'s name with a link to its page. The second will allow us to
specify a letter (*/browse/name/a/* to search for names of `Thing`s that start
with "a," for example.)

## Set up the view

Next, off to your *views.py* to add this new view:

*views.py*
{% endfilter %}

<pre><code class="python">
def browse_by_name(request, initial=None):
    if initial:
        things = Thing.objects.filter(name__istartswith=initial)
        things = things.order_by('name')
    else:
        things = Thing.objects.all().order_by('name')

    return render(request, ‘search/search.html', {
        'things': things,
        'initial': initial,
    })
</code></pre>

{% filter markdown %}
We're going to write a view that works for both URL routes. Neat, right?

The top line of the view where we have `initial=None`, this simply says that if
there is no value passed in, then to assign it to `None`. So */browse/*, which
doesn't pass in initial letter, will have initial assigned to `None`. If you
didn't have the `None` part, Python would whine that it expects something if
it's empty.

Then we use an if-statement to determine what kind of database query we want to
do, whether we are passing something in or not.

We're also using `name__istartswith`, another queryset filter like `contains`
which we used before (More info:
[http://hellowebapp.com/29](http://hellowebapp.com/29)). Note that we don't
*have* to use a single letter to search — this code will work whether you
searched for 'a' or 'hello', grabbing everything in your database that starts
with your query.

Fairly simple, and making one view rather than two means less code, and ergo
less maintenance. 

## Create the template

Last, our template. We're going to create one "search" template that'll work for
both flows here and we can extend in the future for other browse cases.

Create a new directory for search in your templates, and then create your
*search.html* file:

{% endfilter %}

<pre><code class="python">
$ cd collection/templates/
collection/templates $ mkdir search
collection/templates $ cd search
collection/templates/search $ touch search.html
</code></pre>

{% filter markdown %}
***Note: **Technically we're browsing, not searching, but I find calling the
pages and process "search" easier.*

Our *search.html* file:

*search.html*
{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% extends 'base.html' %}
{% block title %}
    Browse - {{ block.super }}
{% endblock title %}

{% block content %}
    &lt;h1&gt;
        Browse Things{% if initial %} Starting with 
        '{{ initial|title }}'{% endif %}
    &lt;/h1&gt;

    {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
    &lt;a href="{% url 'browse_by_name' initial=letter %}" 
    {% if initial == letter %}class="active"{% endif %}&gt;
        {{ letter|upper }}
    &lt;/a&gt;
    {% endfor %}

    {% for thing in things %}
    &lt;ul&gt;
        &lt;li&gt;
            &lt;a href="{% url 'thing_detail' slug=thing.slug %}"&gt;
                {{ thing.name }}
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
    {% empty %}
    &lt;p&gt;Sorry, no results!&lt;/p&gt;
    {% endfor %}
{% endblock content %}
</code></pre>
{% endverbatim %}

{% filter markdown %}
![](images/browse_page.png) 

We're doing quite a bit of fun things here.

* First, our headline. We're modifying the headline based on whether we're
    narrowing down by initial or not. Users will get a descriptive headline for
    both cases.
* Note that in the headline, we have `initial|title` — one of the template tags
    we talked about earlier in Chapter 4. Why not `|upper`? I mentioned before
    this actually works with any letter or word, and chose `|title` so, if we
    searched for "hello" it would be displayed as "Hello rather than "HELLO." 
* To display links for every letter in the alphabet, we're looping over the
    alphabet in the template. Again, less code (as compared to writing out all
    the links) means less maintenance. 
* We're adding an `active` class to the currently selected letter, which you can
    style using CSS.
* We're looping over the lowercase alphabet but making it uppercase when
    displayed. This way our links look like `/browse/name/a/` rather than
    `/browse/name/A/`. Both work, but the former looks better.
* We loop over every result in our list and display a link to the `Thing`.
* Last, `{% empty %}` is what the for loop will display if the list we pass in
    is empty.

## Updating your nav and setting up redirects

There isn't a link to this page in the main nav, so we should update the nav:

*base.html*
{% endfilter %}

{% verbatim %}
<pre><code class="django">
&lt;li&gt;
    &lt;a href="{% url 'contact' %}"&gt;Contact&lt;/a&gt;
&lt;/li&gt;
<b>&lt;li&gt;
    &lt;a href="{% url 'browse' %}"&gt;Browse&lt;/a&gt;
&lt;/li&gt;</b>
</code></pre>
{% endverbatim %}

{% filter markdown %}
The second nitpick is our URL — */browse/name/* works, as well as
*/browse/name/a/*... but */browse/* will 404 since we haven't set up a route for
it.  It's not linked to, but someone might edit the URL in their browser. Let's
redirect */browse/* page to */browse/name/* (adding `permament` makes it a 301
redirect, rather than 302).

Updated *urls.py*:

*urls.py*
{% endfilter %}

<pre><code class="python">
# added RedirectView to this import statement
from django.views.generic import (TemplateView, 
    <b>RedirectView,</b>
)
</code></pre>

{% filter markdown %}
*urls.py*
{% endfilter %}

<pre><code class="python">
    # our new redirect view
    <b>url(r'^browse/$', RedirectView.as_view(
        pattern_name='browse', permanent=True)),</b>
    url(r'^browse/name/$',
        views.browse_by_name, name='browse'),
    url(r'^browse/name/(?P<initial>[-\w]+)/$',
        views.browse_by_name, name='browse_by_name'),
</code></pre>

{% filter markdown %}
Like `TemplateView`, which we used before to display a template without writing
a view (for our *About* and *Contact* pages), `RedirectView` is another generic
view that let's us avoid writing extra code and sets up a simple redirect.

We have another set of URLs that could benefit from this same treatment. Let's
redirect */things/* to our browse page as well:

*urls.py*
{% endfilter %}

<pre><code class="python">
    <b>url(r'^things/$', RedirectView.as_view(
        pattern_name='browse', permanent=True)),</b>
    url(r'^things/(?P<slug>[-\w]+)/$',
        views.thing_detail, name='thing_detail'),
    url(r'^things/(?P<slug>[-\w]+)/edit/$',
        views.edit_thing, name='edit_thing'),
</code></pre>

{% filter markdown %}
Test the redirects out by going to *http://localhost:8000/browse/* and
*http://localhost:8000/things/* and watch them automatically redirect to the
correct pages.

There we go, a great start to building browsable pages for your website
visitors. Commit your work!

{% endfilter %}

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
<link rel="stylesheet" href="{% static '/css/tomorrow.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}
