{% extends "base.html" %}

{% block title %}Chapter 7: Displaying Dynamic Information in the Templates - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Chapter 7: Displaying Dynamic Information in the Templates");
{% endblock %}

{% block bodyclass %}
<body id="setup">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>

{% filter markdown %}

# Displaying Dynamic Information in the Templates

It's great that we can see our information in the admin, but now we need to be
able to display that information in our templates and ergo in our website.

## Querying for info from the database

Views are where all of our logic will go for displaying in the templates, so
it's back to *views.py* we go.

Find the index view back from when we were playing with template tags:

*views.py*
{% endfilter %}

<pre><code class="python">
def index(request):
    number = 6
    # don't forget the quotes since it's a string, 
    # not an integer
    thing = "Thing name" 
    return render(request, ‘index.html', {
        'number': number,
        # don't forget to pass it in, and the last comma
        'thing': thing,
    })
</code></pre>

{% filter markdown %}

Right now it's essentially saying: "When the index page is viewed, display this
template and pass along these two variables." 

Now we want to update that to, "When the index page is viewed, find all things
in our database, display this template, and pass those things along to that
template." 

Here's the new view. Don't forget, if you've renamed `Thing` to something else
in your model, make sure to update all instances below:

*views.py*
{% endfilter %}

<pre><code class="python">
from django.shortcuts import render
<b>from collection.models import Thing</b>

# the rewritten view!
def index(request):
    <b>things = Thing.objects.all()</b>

    return render(request, 'index.html', {
        <b>'things': things,</b>
    })
</code></pre>

{% filter markdown %}
First, we need to tell the view that we need some information from the model, so
we've added an import statement to the top of the page (that's the `from
collection.models import Thing`).

Then in the index view, we're using QuerySets (More info:
[http://hellowebapp.com/18](http://hellowebapp.com/18)) to ask for all `Thing`
objects from the database. 

Head back to the template, where we were having fun with template tags before.
We now are passing along a variable containing all the `Thing`s in our database,
so now we need to display that in the template.

Update your *index.html*:

*index.html*
{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <b>{% for thing in things %}
    <h2>{{ thing.name }}</h2>
    <p>{{ thing.description }}</p>
    {% endfor %}</b>
{% endblock content %}
</code></pre>
{% endverbatim %}

{% filter markdown %}
This is a loop that'll iterate over all the objects in the `things` variable,
displaying the name for each `Thing`. Remember that `{% %}` shows an action and
`{{ }}` prints out the variable.

Voilà: We're showing the information from our database in our homepage!

![](images/things_added_homepage.png) 

## Retrieving and filtering information with QuerySets

One of the biggest things to remember about programming is that accessing the
database is one of the slowest things your app can do, and can lead to a slow
website if you're not careful. That means querying for all `Thing`s when you
only want one `Thing` is inefficient. *Don't* do something like this in your
template:

{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% for thing in things %}
    {% if thing.name == "Hello" %}
        {{ thing.name }}
    {% endif %}
{% endfor %}
</code></pre>
{% endverbatim %}

{% filter markdown %}
It would be much faster if we could just query for that one `Thing` instead,
rather than getting all of them and then just searching for just one in the
template, right?

QuerySets come with a lot of extra stuff to help filter the records in your
database. For example, if you wanted the `Thing` named "Hello," you could do
this instead:

{% endfilter %}

<pre><code class="python">
# what we had before
things = Thing.objects.all()

# just getting one object!
correct_thing = Thing.objects.get(name='Hello')
</code></pre>

{% filter markdown %}

The `.get()` method will retrieve the object that matches the query, but keep in
mind it'll throw an error if more than one object is found (or none.) If you
want to grab a bunch of things that match, you'll use `.filter()`:

{% endfilter %}

<pre><code class="python">
things = Thing.objects.filter(name='Hello')
</code></pre>

{% filter markdown %}
So, remember: `.get()` is when you want one, exact object; `.filter()` is for
when you could possibly retrieve more than one result.

When Django returns a bunch of items, we can also have it return it
alphabetically using `.order_by()`:

{% endfilter %}

<pre><code class="python">
things = Thing.objects.filter(name='Hello').order_by('name')
</code></pre>

{% filter markdown %}
Another useful method is to look up whether a field contains something using
`contains`:

{% endfilter %}

<pre><code class="python">
things = Thing.objects.filter(name__contains='Hello')
</code></pre>

{% filter markdown %}
Check out your website to see the update:

![](images/things_order.png) 

Note how `contains` gets added onto the field that we're searching on using a
double-underscore (`__`). If we had just `name=`, we'd only get **exact** name
matches, but `name__contains=` will get **incomplete** matches.

We can also tell it to return a random order as well using `?`:

{% endfilter %}

<pre><code class="python">
things = Thing.objects.all().order_by('?')
</code></pre>

{% filter markdown %}

This is just an overview of the basic queries we can make with Django. For more
(a lot more, but it's pretty interesting), check out Django's documentation of
QuerySets: [http://hellowebapp.com/18](http://hellowebapp.com/18).

Before you forget, change the query in your view back to grabbing all objects:

*views.py*
{% endfilter %}

<pre><code class="python">
from django.shortcuts import render

from collection.models import Thing

def index(request):
    <b>things = Thing.objects.all()</b>

    return render(request, ‘index.html', {
        'things': things,
    })
</code></pre>

{% filter markdown %}
Congrats — we now have objects in our database showing up on our website! Commit
your work, and now let's move on to creating individual pages for these objects.

{% endfilter %}

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
<link rel="stylesheet" href="{% static '/css/tomorrow.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}
