{% extends "base.html" %}

{% block title %}Friendly Note - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Friendly Note");
{% endblock %}

{% block bodyclass %}
<body id="setup">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>

{% filter markdown %}

# Friendly Note

Hello Web App is entirely self-published by Tracy Osborn and is purposely
DRM-free. If you've come across this book for free and enjoyed it, I invite you
to make a donation at
[http://hellowebapp.com/donate](http://hellowebapp.com/donate). Your support is
appreciated!

{% endfilter %}

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
<link rel="stylesheet" href="{% static '/css/tomorrow.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}
