{% extends "base.html" %}

{% block title %}Friendly Note - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Friendly Note");
{% endblock %}

{% block bodyclass %}
<body id="setup">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>
<div class="container">
        <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h1>Friendly Note</h1>
        </div>
        <div class="col-md-3 text-right" style="padding-right: 40px;">
            <h3 style="margin-top:0;">Next chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="#install-python">Install Python</a></li>
            </ol>
            <h3 style="margin-top:0;">Previous chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="#install-virtualenv">Install Virtualenv</a></li>
            </ol>
        </div>

        <div class="col-md-9">

{% filter markdown %}
Hello Web App is entirely self-published by Tracy Osborn and is purposely
DRM-free. If you've come across this book for free and enjoyed it, I invite you
to make a donation at
[http://hellowebapp.com/donate](http://hellowebapp.com/donate). Your support is
appreciated!
{% endfilter %}
</div></div></div>

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
<link rel="stylesheet" href="{% static '/css/tomorrow.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}
