{% extends "base.html" %}

{% block title %}Chapter 3: Getting Started - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Chapter 3: Getting Started");
{% endblock %}

{% block bodyclass %}
<body id="setup">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>
<div class="container">
        <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h1>Getting Started</h1>
        </div>
        <div class="col-md-3 text-right" style="padding-right: 40px;">
            <h3 style="margin-top:0;">Next chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/tutorial/setting-templates.html' %}">Setting Up Your Templates</a></li>
            </ol>
            <h3>Previous chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/tutorial/prerequisites.html' %}">Prerequisites</a></li>
            </ol>
        </div>

        <div class="col-md-9">

{% filter markdown %}
Writing HTML and viewing your results right away is easy: Just point your
browser to your HTML (*.html*) file and voilà — your website gets displayed!

Not so with your Python (*.py*) files — your browser has no clue what to do with
Python code. To start creating web apps in Django, we first need to install
Python and Django on your computer (as well as a few other useful utilities,
including a local web server that will interpret your Python code and deliver
responses that your web browser can understand.)

This is the most complicated part of the process. Because the instructions for
installing and setting up Python keep changing over time, they live online. 

Hello Web App's Python and Django installation instructions can be found here:
[http://hellowebapp.com/8](http://hellowebapp.com/8)

Once you've finished, head back to your command line (make sure you're in your
virtual environment and you're in the same directory as *manage.py*) and run
`python manage.py runserver`. If everything worked correctly, you should see the
Django congratuations page (congratulations!)

![What you should see if you correctly installed Python and Django and started the local web server.](images/newproject.png) 

As you go through the rest of the book, keep in mind that if you ever need to
check that you have the correct code snippets copied into your app, all code in
the book can be found on our GitHub code repository (change chapters by clicking
the "branch" button): [http://hellowebapp.com/9](http://hellowebapp.com/9)We
also have an online forum to discuss the book and resolve issues here:
[http://hellowebapp.com/10](http://hellowebapp.com/10)

Any other information (including installation instructions, tips, and resources)
can be found on our main repository here:
[http://hellowebapp.com/11](http://hellowebapp.com/11)

Now get started building your app!

{% endfilter %}

{% include 'includes/tutorial-footer.html' with github="https://github.com/hellowebapp/hellowebapp-code/tree/chapter-3" nextname="Setting Up Your Templates" nextlink="/tutorial/setting-templates.html" prevname="Prerequisites" prevlink="/tutorial/prerequisites.html" title="Getting Started" path="/tutorial/getting-started.html" %}

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
<link rel="stylesheet" href="{% static '/css/tomorrow.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}
