{% extends "base.html" %}

{% block title %}Chapter 8: Setting Up Individual Object Pages - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Chapter 8: Setting Up Individual Object Pages");
{% endblock %}

{% block bodyclass %}
<body id="tutorial">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>
<div class="container">
        <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h1>Setting Up Individual Object Pages</h1>
        </div>
        <div class="col-md-3 text-right hidden-sm-down" style="padding-right: 40px;">
                    <section class="sharing">
                        <div>
                            <a class="twitter" href="http://twitter.com/home/?status={{ title }} https://hellowebapp.com/{{ path|cut:".html" }}/ (via @hellowebapp)"><i class="fa fa-twitter"></i></a>

                            <a class="facebook" href="#" onclick="
                                window.open(
                                'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                                'facebook-share-dialog', 
                                'width=626,height=436'); 
                                return false;"><i class="fa fa-facebook"></i> 
                            </a>
                            <a class="mail" href="mailto:?subject={{ title }}&amp;body=Here's the link: https://hellowebapp.com/{{ path|cut:".html" }}/"><i class="fa fa-envelope"></i></a>
                        </div>
                    </section> 
            <h3>Next chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/tutorial/forms.html' %}">Forms.py Funsies</a></li>
            </ol>
            <h3>Previous chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/tutorial/dynamic-templates.html' %}">Displaying Dynamic Information in the Templates</a></li>
            </ol>
            <h3>Buy the book:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/order.html' %}">Order Hello Web App</a></li>
            </ol>
        </div>

        <div class="col-md-9">

{% filter markdown %}
We now have a list of all the objects in our database on our homepage — wouldn't
it be nice for each object to have its own page?

## Adding the new pages to our URL definitions

Following our usual URLs-views-templates routine, let's head over to the
*urls.py* file to add the new URL scheme for our new pages.

We're going to remove the commented out default stuff from before, and add a new
line:

*urls.py*
{% endfilter %}

<pre><code class="python">
urlpatterns = [
    url(r'^$', views.index, name='home'),
    url(r'^about/$', 
        TemplateView.as_view(template_name='about.html'),
        name='about'),
    url(r'^contact/$', 
        TemplateView.as_view(template_name='contact.html'),
        name='contact'),
    <b>url(r'^things/(?P&lt;slug&gt;[-\w]+)/$', views.thing_detail, 
        name='thing_detail'),</b>
    url(r'^admin/', admin.site.urls),
]
</code></pre>

{% filter markdown %}
Whoa, holy scary regular expression, right?

To be honest, if you stopped me and asked me to write that line from scratch, I
wouldn't be able to. I copy and paste it from project to project, and just
update the small things that matter, leaving the regular expression ("regex")
alone. Learning regex, while handy, is definitely not required for basic web app
development (you can learn more here if you want, though:
[http://hellowebapp.com/19](http://hellowebapp.com/19))

Going over the bits in the new line:

* `url(`: Beginning of the url definition.
* `r'^things/`: Basically says "starts with 'things.'" You can update this to
    match your model, so `r'profiles/` or `r'surfboards/` for example. r stands
    for "raw" and ensures the regex is executed literally.
* `(?P<slug>[-\w]+)/$`: Basically means "matches any word and call it 'slug.'"
    The only important part to remember is that you can change 'slug' for other
    uses, but for this use, we should call it slug.
* `'collection.views.thing_detail',`: We're using the soon-to-be-created
    `thing_detail` view.
* `, name='thing_detail'),`: And this URL is named `thing_detail`.

## Create the view

Our second view, woohoo!

Head back to `views.py` and add the new view in:

*views.py*
{% endfilter %}

<pre><code class="python">
from django.shortcuts import render
from collection.models import Thing

def index(request):
    things = Thing.objects.all()
    return render(request, 'index.html', {
        'things': things,
    })

# our new view
<b>def thing_detail(request, slug):
    # grab the object...
    thing = Thing.objects.get(slug=slug)

    # and pass to the template
    return render(request, 'things/thing_detail.html', {
        'thing': thing,
    })</b>
</code></pre>

{% filter markdown %}
Fairly simple. Note that at the top of the view, we now have `slug` passed in
from `urls.py` — remember that this was what was in that big, scary regex bit.

And now to the template...

## Setting up the template

We'll need to create the new HTML file that the view indicates.
{% endfilter %}

<pre><code class="sh">
<span class="cmd">$</span> cd collection/templates
<span class="cmd">collection/templates $</span> mkdir things
<span class="cmd">collection/templates $</span> cd things
<span class="cmd">collection/templates/things $</span> cp ../index.html thing_detail.html
</code></pre>

{% filter markdown %}

We could write `touch thing_detail.html` to create a blank file, but to avoid
writing out the content blocks and save us some typing, we'll just copy the
index file.

Of course, feel free to update 'thing' and 'things' here to match what you're
building (don't forget to update the view if you do so). We're putting the
detail page under a separate folder to keep all the templates that deal with
individual things in one place.

Here's our new individual object HTML template:

*thing_detail.html*
{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% extends 'base.html' %}
{% block title %}
    {{ thing.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
    &lt;h1&gt;{{ thing.name }}&lt;/h1&gt;
    &lt;p&gt;{{ thing.description }}&lt;/p&gt;
{% endblock content %}
</code></pre>

<p><code>{{ thing }}</code> is the object we passed in from the database, and we can access
the fields we set in the model (name and description) by adding the model field
after a dot — basically, <code>{{ thing.name }}</code>.</p>
{% endverbatim %}

{% filter markdown %}
How do we get to these individual pages? Let's update our index view to make the
list of objects we're displaying to link to their individual pages.

Our new *index.html* template:
{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <b>{% for thing in things %}
    &lt;h2&gt;
        &lt;a href="{% url 'thing_detail' slug=thing.slug %}"&gt;
            {{ thing.name }}
        &lt;/a&gt;
    &lt;/h2&gt;
    &lt;p&gt;{{ thing.description }}&lt;/p&gt;
    {% endfor %}</b>
{% endblock content %}
</code></pre>
{% endverbatim %}

{% filter markdown %}

We're going to use Django's named URLs again. We named our detail pages (back in
*urls.py*) `thing_detail`, and we also need to pass in the slug so it knows
which exact `thing` to make a link for.

Now we have an index page full of links:
{% endfilter %}

<figure class="caption">
    <img src="/static/images/tutorial/index_links.png" alt=""/>
</figure>

{% filter markdown %}
Which link to the object's respective page:
{% endfilter %}

<figure class="caption">
    <img src="/static/images/tutorial/individual_page.png" alt=""/>
</figure>

{% filter markdown %}
We are one step toward a working website that's useful to visitors and potential
customers! Don't forget to commit your work.

{% endfilter %}

{% include 'includes/tutorial-footer.html' with github="https://github.com/hellowebapp/hellowebapp-code/tree/chapter-8" nextname="Forms.py Funsies" nextlink="/tutorial/forms.html" prevname="Displaying Dynamic Information in the Templates" prevlink="/tutorial/dynamic-templates.html" title="Setting Up Individual Object Pages" path="/tutorial/indiv-object-pages.html" %}

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
<link rel="stylesheet" href="{% static '/css/tomorrow.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}
