{% extends "base.html" %}

{% block title %}Special Thanks - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Special Thanks");
{% endblock %}

{% block bodyclass %}
<body id="tutorial">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>
<div class="container">
        <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h1>Special Thanks</h1>
        </div>
        <div class="col-md-3 text-right hidden-sm-down" style="padding-right: 40px;">
                    <section class="sharing">
                        <div>
                            <a class="twitter" href="http://twitter.com/home/?status={{ title }} https://hellowebapp.com/{{ path|cut:".html" }}/ (via @hellowebapp)"><i class="fa fa-twitter"></i></a>

                            <a class="facebook" href="#" onclick="
                                window.open(
                                'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                                'facebook-share-dialog', 
                                'width=626,height=436'); 
                                return false;"><i class="fa fa-facebook"></i> 
                            </a>
                            <a class="mail" href="mailto:?subject={{ title }}&amp;body=Here's the link: https://hellowebapp.com/{{ path|cut:".html" }}/"><i class="fa fa-envelope"></i></a>
                        </div>
                    </section> 
            <h3>Next chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/tutorial/references.html' %}">References</a></li>
            </ol>
            <h3>Previous chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/tutorial/moving-forward.html' %}">Moving Forward</a></li>
            </ol>
            <h3>Buy the book:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/order.html' %}">Order Hello Web App</a></li>
            </ol>
        </div>

        <div class="col-md-9">

{% filter markdown %}
This book couldn't have been written without the support of my friends, family, and Kickstarter backers (friends from afar!) 

## Super duper thanks to our sponsor
{% endfilter %}

<figure class="caption">
    <img src="/static/images/tutorial/kinsights.png" alt=""/>
</figure>

{% filter markdown %}
The biggest thanks goes to [Kinsights](https://kinsights.com) for sponsoring Hello Web App on Kickstarter, and in particular for pushing the campaign over its goal. A bit about them:

*Kinsights is a free advice-sharing network for parents. Get advice from parents that you'll actually use.  Learning Django? Join a group of other Django-loving parents here: [https://kinsights.com/for/django](https://kinsights.com/for/django)*

What a great resource after you're done with this book!

## Book reviewers, editors, and testers

I tested (and tested, and tested) this book and yet things still snuck through. The hugest thanks to those that took the time to review, edit, and run all the code bits contained within this book — your feedback was invaluable.

Andrey Petrov  
Kenneth Love  
Carol Willing  
Drew Gerlach  
Glen Gilchrist  
Hans Meldgaard  
Kerstin Kollmann  
Leland Richardson  
Matthew Oliphant  
Olya Sanakoev  
Osvaldo Santana Neto  
Peter Westlake  
Richard Cornish  
Siow Chen Ang  
Vincent Smith  

## Help and suggestions

I wouldn't have made it this far without having a lot of smart people giving suggestions and lending help.

Julia Elman  
Michael Trythall  
Kenneth Love  
Audrey Roy Greenfield  
Daniel Greenfield  
Jonathan Snook  
Poornima Vijayashanker  

## Kickstarter backers

Hello Web App's Kickstarter campaign was a success due to the generosity of the folks below. Again, my sincere thanks:

Aidan Nulman  
Alejandro Krumkamp  
Andreas Djunaedi  
Andrew Louis  
Andrew Wasem  
Andy Giffen  
Angie Chang  
Ben Blumenfeld  
Bryan Veloso  
Carol Naslund Willing  
Chris Spicer  
Cory Benfield  
Daly Chang  
David Ritter  
Ed Stockman  
Ellen Amudipe  
Enrique Piedrafita  
Frederic Tschannen  
Jackie Ta  
Jannis Leidel  
Jeremy Gillick  
Julio Carlos Menéndez González  
Kara Beyer  
Kathleen Tuite  
M. Jackson Wilkinson  
Maria khomenko  
Marta Maria Casetti  
Martin Kleppmann  
Matthew Oliphant  
Noah Kantrowitz  
Olivier Yiptong  
Ozzie Sabina  
Rachel Cordray Sanders  
Ryan Feeley  
Sam Stokes  
Samuel Clay  
Theodore Tedwardson III  
Thomas A Kent  
Tim Kuehlhorn  
Toby Bettridge  
Turki Alotieschan  
Tzu-ping Chung  

{% endfilter %}

{% include 'includes/tutorial-footer.html' with nextname="References" nextlink="/tutorial/references.html" prevname="Moving Forward" prevlink="/tutorial/moving-forward.html" title="Special Thanks" path="/tutorial/special-thanks.html" %}

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
<link rel="stylesheet" href="{% static '/css/tomorrow.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}
