{% extends "base.html" %}

{% block title %}Chapter 5: Fun With Template Tags - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Chapter 5: Fun With Template Tags");
{% endblock %}

{% block bodyclass %}
<body id="setup">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>
<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h1>Fun With Template Tags</h1>
        </div>
        <div class="col-md-3 text-right" style="padding-right: 40px;">
            <h3 style="margin-top:0;">Next chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/tutorial/dynamic-data.html' %}">Adding Dynamic Data</a></li>
            </ol>
            <h3 style="margin-top:0;">Previous chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/tutorial/setting-templates.html' %}">Setting Up Your Templates</a></li>
            </ol>
        </div>

        <div class="col-md-9">
{% filter markdown %}
Before we get into dynamic data, let’s explore the fun things that Django’s
template system has built in.

## Building complex templates with inheritance

One of the biggest advantages of using a framework like Django is template
inheritance. Instead of having a bunch of files that repeat information (such as
`<header>...</header>` tags, your nav, etc.), you can have one base layout
template that all other templates import.

In your templates directory, add a new file called *base.html*.
{% endfilter %}

<pre><code class="python">
$ cd collection/templates
collection/templates $ touch base.html
</code></pre>

{% filter markdown %}
We’re going to strip out all website-common code from *index.html* and stick it
into *base.html*:

*base.html*
{% endfilter %}

{% verbatim %}
<pre><code class="html">
{% load staticfiles %}
&lt;!doctype html&gt;
&lt;html&gt;
    &lt;head&gt;
        <b>&lt;title&gt;
             &lt;!-- we want to override page titles --&gt;
        &lt;/title></b>
        &lt;link rel="stylesheet" href="{% static 'css/style.css' %}" /&gt;
    &lt;/head&gt;
    &lt;body&gt;
        <b>&lt;!-- as well as override content bits --&gt;</b>
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>We can define blocks in our layout template where information can be added
    or overwritten. For example, we’ll add <code>{% block content %} {%
        endblock content %}</code> where we’d like the body content from
    <i>index.html</i> to go. We can also add other overridable blocks in our
    layout template: I usually add a block for the page title, optional header
    information (for including other CSS files, for example), and
    right-before-closing-body tag (for adding other Javascript files).</p>
{% endverbatim %}

{% filter markdown %}
*base.html* now:

*base.html*
{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% load staticfiles %}
&lt;!doctype html&gt;
&lt;html&gt;
    &lt;head&gt;
        <b>&lt;title&gt;
            {% block title %}
                My Hello Web App Project
            {% endblock title %}
        &lt;/title&gt;</b>
        &lt;link rel="stylesheet" href="{% static 'css/style.css' %}" /&gt;
        <b>{% block header %}{% endblock header %}</b>
    &lt;/head&gt;
    &lt;body&gt;
        <b>{% block content %}{% endblock content %}
        {% block footer %}{% endblock footer %}</b>
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>Note that we have content in the <code>{% block title %} </code> tags. That
will be our default content that’ll show if child pages don’t override the
title.</p>

<p>Head back over to <i>index.html</i>, and delete everything other than our
content that we removed from the new layout template. To indicate that this
template has a layout template that will extend, we'll add <code>
{% extends 'base.html' %}</code> to the top of the template, and then we can add in
blocks in the template for the sections we defined in our <i>base.html</i>
template.</p>
{% endverbatim %}

{% filter markdown %}
Our new *index.html*:

*index.html*
{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    &lt;h1&gt;Hello World!&lt;/h1&gt;
    &lt;p&gt;I am a basic website.&lt;/p&gt;
{% endblock content %}
</code></pre>
{% endverbatim %}

{% filter markdown %}
A few important things to note:
{% endfilter %}

{% verbatim %}
<li>Each block (like <code>{% block content %}</code>) has the name we defined
    in our base.html file so the template engine knows where to render which
    part.</li>
<li>Check out the title block. See the <code>{{ block.super }}</code>? In our
    <i>base.html</i> file, we defined "My Hello Web App Project" as the default
    content. <code>{{ block.super }}</code> will insert the contents of the
    default block instead of overriding it. Now our page titles can have both
    the local page name as well as the title of the website. If you ever change
    the main title of the website, you only have to update it in *base.html*
    and it will automatically update the child pages.</li>
<li>If you’re loading static assets like images, you’ll still need to add
    <code>{% load staticfiles %}</code> to the top of the base layout file.
    We’re not yet in <i>index.html</i> so we haven’t added it but keep in mind
    if you add static files to your version.</li>
{% endverbatim %}

{% filter markdown %}
Now you can add new simple pages to your website without having to repeat the
same code over and over!

## Adding a few other static pages

Having template inheritance doesn't feel real until you have multiple templates
all extending one layout template.
{% endfilter %}

<p>Let’s create a few extra pages: an <i>about.html</i> and
    <i>contact.html</i>. First, create the HTML files in your templates
    directory. I’m going to make it easy by copying our <i>index.html</i> file
    because it already has the <code>{% verbatim %}{% block %}{% endverbatim %}
    </code> tags added for inheritance.</p>

<pre><code class="python">
<span class="cmd">templates $</span> cp index.html about.html
<span class="cmd">templates $</span> cp index.html contact.html
</code></pre>

{% filter markdown %}

Then open the pages and edit the HTML so it makes sense for each page.

*about.html*
{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% extends 'base.html' %}
{% block title %}
    About - {{ block.super }}
{% endblock title %}

{% block content %}
    &lt;h1&gt;About page&lt;/h1&gt;
    &lt;p&gt;About content.&lt;/p&gt;
{% endblock content %}
</code></pre>
{% endverbatim %}

{% filter markdown %}

*contact.html*
{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% extends 'base.html' %}
{% block title %}
    Contact - {{ block.super }}
{% endblock title %}

{% block content %}
    &lt;h1&gt;Contact page&lt;/h1&gt;
    &lt;p&gt;Contact content.&lt;/p&gt;
{% endblock content %}
</code></pre>
{% endverbatim %}

{% filter markdown %}
Last, we’ll need to create a few new URL definitions in urls.py. If your new
template won’t display information from your database — only simple HTML and CSS
— then we can simplify our URL definition with a shortcut without having to add
anything to *views.py*.

Open your *urls.py* — we're going to import something new and add the new URL
definitions.

*urls.py*
{% endfilter %}

<pre><code class="python">
from django.conf.urls import url
from django.contrib import administration
<b>from django.views.generic import TemplateView</b>
from collection import views

urlpatterns = [
    url(r'^$', views.index, name='home'),
    # The new URL entries we're adding:
    <b>url(r'^about/$',
        TemplateView.as_view(template_name='about.html'),
        name='about'),
    url(r'^contact/$', 
        TemplateView.as_view(template_name='contact.html'),
        name='contact'),</b>

    url(r'^admin/', admin.site.urls),
]
</code></pre>

{% filter markdown %}
These new patterns are nearly the same thing we had before when we made a URL
entry: The regular expression at the beginning, and the name of the view at the
end. Instead of pointing to a function in *views.py* though, we're going to use
Django's *generic* view called `TemplateView` that basically says, "Hey, just
display this template."

### Add navigation

Every page will need to have navigation, so we'll add that to our layout
template. Open it and add the following basic HTML (I also added a header and
some other bits):

*base.html*
{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% load staticfiles %}
&lt;!doctype html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;
            {% block title %}
                My Hello Web App Project
            {% endblock title %}
        &lt;/title&gt;
        &lt;link rel="stylesheet" href="{% static 'css/style.css' %}" /&gt;
        {% block header %}{% endblock header %}
    &lt;/head&gt;
    &lt;body&gt;
        <b>&lt;header>
            &lt;h1&gt;Hello Web App&lt;/h1&gt;
            &lt;nav&gt;
                &lt;ul&gt;
                    &lt;li&gt;
                        &lt;a href="{% url 'home' %}"&gt;Home&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href="{% url 'about' %}"&gt;About&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href="{% url 'contact' %}"&gt;Contact&lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/nav&gt;
        &lt;/header&gt;</b>
        {% block content %}{% endblock content %}
        {% block footer %}{% endblock footer %}
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
{% endverbatim %}

{% filter markdown %}
Surprise: We’re not going to link to other HTML files like we normally would.
This is why we name URLs — we can tell Django that we want to link to the URL
named "home," and Django will automatically insert the right path. In the
future, if you ever decide to change the URL (like changing */about/* to
*/about-us/*), you would just need to change it in your *urls.py* file and
Django will update your templates for you.

Check out your website with it's shiny, new navigation:
{% endfilter %}

<figure class="caption">
    <img src="/static/images/tutorial/nav.png" alt=""/>
</figure>

{% filter markdown %}
## Passing in variables and template tags

At this point you could launch this basic website, but dynamic content is really
why we’re here.

To show how variables get passed into the templates from the view, head back to
*views.py* to the index function (a function is what each of the code blocks
starting with `def` is called). For fun, let’s define a variable with an integer
and pass it to the view to see the fun things that Django’s template tags can
do.

We're going to create a variable that holds a number and then make this variable
available to the template. Update your view to the following:

*views.py*
{% endfilter %}

<pre><code class="python">
from django.shortcuts import render

def index(request):
    <b># defining the variable
    number = 6
    # passing the variable to the view
    return render(request, 'index.html', {
        'number': number,
    })</b>
</code></pre>

{% filter markdown %}
Back over in *index.html*, we can access these variables in two ways:
{% endfilter %}

{% verbatim %}
<li> <code>{{ variable }}</code>: Surrounded by two curly braces, this simply
    displays what was passed in.</li> 
<li> <code>{% tag %}</code>: <code>{% %}</code> is django's version of 
    <code>&lt; &gt;</code> in HTML. A tag in curly braces/percent signs means 
    we’re doing something either with that variable or to the template, such as 
    loading static files.</li>
{% endverbatim %}

{% filter markdown %}
To see this in action, let’s first display the variable. Add this to your
*index.html* file:

*index.html*
{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    &lt;h1&gt;Hello World!&lt;/h1&gt;
    &lt;!-- here's the variable we are passing in --&gt;
    <b>&lt;p&gt;{{ number }}&lt;/p&gt;</b>
{% endblock content %}
</code></pre>
{% endverbatim %}

<figure class="caption">
    <img src="/static/images/tutorial/6.png" alt=""/>
</figure>

<p>Ta-da! Django translates <code>{% verbatim %}{{ number }}{% endverbatim %}
</code> to the value of the variable called <code>number</code> from the view
which was passed into the template.</p>

{% filter markdown %}
Django’s templates also allow you to use basic logic similar to Python's within
the templates — most importantly, *if-else statements* and *for loops*. (Can’t
remember what these are? Refer to Learn Python The Hard Way
([http://hellowebapp.com/13](http://hellowebapp.com/13)) for a refresher.)

Check out an *if-else statement* in action:
{% endfilter %}

{% verbatim %}
<pre><code class="django">
&lt;p&gt;{% if number %}Number exists!{% endif %}&lt;/p&gt;
</code></pre>
{% endverbatim %}

<figure class="caption">
    <img src="/static/images/tutorial/numberexists.png" alt=""/>
</figure>

{% filter markdown %}
And another example:
{% endfilter %}

{% verbatim %}
<pre><code class="django">
    &lt;p&gt;There are six dogs! <b>
    {% if number == 6 %}
        True
    {% else %}
        False
    {% endif %}
    </b>&lt;/p&gt;
</code></pre>
{% endverbatim %}

<figure class="caption">
    <img src="/static/images/tutorial/sixdogs.png" alt=""/>
</figure>

{% filter markdown %}
Django also has a lot of fun template tags
([http://hellowebapp.com/14](http://hellowebapp.com/14)). For example, if you
were passing in the number of dogs in your website, you could make a word plural
if the number is more than one:
{% endfilter %}

{% verbatim %}
<pre><code class="django">
&lt;p&gt;There are {{ number }} dog{{ number|pluralize }}!&lt;/p&gt;
</code></pre>
{% endverbatim %}

<figure class="caption">
    <img src="/static/images/tutorial/pluralize.png" alt=""/>
</figure>

{% filter markdown %}
This template tag also accepts different suffixes:
{% endfilter %}

{% verbatim %}
<pre><code class="django">
&lt;p&gt;There are {{ number }} walrus{{ number|pluralize:"es" }}!&lt;/p&gt;
</code></pre>
{% endverbatim %}

<figure class="caption">
    <img src="/static/images/tutorial/sixwalruses.png" alt=""/>
</figure>

{% filter markdown %}
Django has an optional library you can use to format and "humanize" numbers. Add
`'django.contrib.humanize'`, to your `INSTALLED_APPS` list in *settings.py*:

*settings.py*
{% endfilter %}

<pre><code class="python">
INSTALLED_APPS = (
    'collection',
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    <b>'django.contrib.humanize',</b>
)
</code></pre>

{% verbatim %}
<p>Then add <code>{% load humanize %}</code> to the top of our template. We're
    going to start with <code>apnumber</code>, which spells out the numbers
    1-9:</p>

<em>index.html</em>

<pre><code class="django">
{% extends 'base.html' %}
<b>{% load humanize %}</b>
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    &lt;h1&gt;Hello World!&lt;/h1&gt;
    <b>&lt;p&gt;There are {{ number|apnumber }} dogs!&lt;/p&gt;</b>
{% endblock content %}
</code></pre>
{% endverbatim %}

<figure class="caption">
    <img src="/static/images/tutorial/apnumber.png" alt=""/>
</figure>

{% filter markdown %}
Note that what was displayed as "6" before is now "six". Read more about
humanize and the other fun options it has here:
[http://hellowebapp.com/15](http://hellowebapp.com/15)

There are also a bunch of template tags that work on strings. Let’s change our
view:

*views.py*
{% endfilter %}

<pre><code class="python">
def index(request):
    number = 6
    # don't forget the quotes because it's a string,
    # not an integer
    <b>thing = "Thing name"</b>
    return render(request, 'index.html', {
        'number': number,
        # don't forget to pass it in, and the last comma
        <b>'thing': thing,</b>
    })
</code></pre>

{% filter markdown %}
As well as our template:
{% endfilter %}

{% verbatim %}
<pre><code class="django">
&lt;p&gt;This is my name: {{ thing }}&lt;/p&gt;
</code></pre>
{% endverbatim %}

<figure class="caption">
    <img src="/static/images/tutorial/stringname.png" alt=""/>
</figure>

{% filter markdown %}
So now we can play with more fun template tags, like this one which would turn
it into a slug, a shortened, lowercased version of a string used for URLs:
{% endfilter %}

{% verbatim %}
<pre><code class="django">
&lt;p&gt;This is my name: {{ thing|slugify }}&lt;/p&gt;
</code></pre>
{% endverbatim %}

<figure class="caption">
    <img src="/static/images/tutorial/slugify.png" alt=""/>
</figure>

{% filter markdown %}
Feel like using title case?
{% endfilter %}

{% verbatim %}
<pre><code class="django">
&lt;p&gt;This is my name: {{ thing|title }}&lt;/p&gt;
</code></pre>
{% endverbatim %}

<figure class="caption">
    <img src="/static/images/tutorial/title.png" alt=""/>
</figure>

{% filter markdown %}
Perhaps it's too long of a name for you? Truncate it.
{% endfilter %}

{% verbatim %}
<pre><code class="django">
&lt;p&gt;This is my name: {{ thing|truncatewords:1 }}&lt;/p&gt;
</code></pre>
{% endverbatim %}

<figure class="caption">
    <img src="/static/images/tutorial/truncate.png" alt=""/>
</figure>

{% filter markdown %}
I hope at this point you can see how Django’s template system has a bunch of
powerful features that knock a static website out of the water. Check out the
full list of included Django template tags here:
[http://hellowebapp.com/14](http://hellowebapp.com/14). It gets even more fun
when you have real dynamic data to work with, which is coming up in the next
section.

Don't forget to commit your work at this point!
{% endfilter %}

{% include 'includes/tutorial-footer.html' with github="https://github.com/hellowebapp/hellowebapp-code/tree/chapter-5" nextname="Adding Dynamic Data" nextlink="/tutorial/dynamic-data.html" prevname="Setting Up Your Templates" prevlink="/tutorial/setting-templates.html" title="Fun With Template Tags" path="/tutorial/template-tags.html" %}

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
<link rel="stylesheet" href="{% static '/css/tomorrow.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}
