{% extends "base.html" %}

{% block title %}Chapter 11: Associating Users with Objects - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Chapter 11: Associating Users with Objects");
{% endblock %}

{% block bodyclass %}
<body id="tutorial">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>
<div class="container">
        <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h1>Associating Users with Objects</h1>
        </div>
        <div class="col-md-3 text-right hidden-sm-down" style="padding-right: 40px;">
                    <section class="sharing">
                        <div>
                            <a class="twitter" href="http://twitter.com/home/?status={{ title }} https://hellowebapp.com/{{ path|cut:".html" }}/ (via @hellowebapp)"><i class="fa fa-twitter"></i></a>

                            <a class="facebook" href="#" onclick="
                                window.open(
                                'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                                'facebook-share-dialog', 
                                'width=626,height=436'); 
                                return false;"><i class="fa fa-facebook"></i> 
                            </a>
                            <a class="mail" href="mailto:?subject={{ title }}&amp;body=Here's the link: https://hellowebapp.com/{{ path|cut:".html" }}/"><i class="fa fa-envelope"></i></a>
                        </div>
                    </section> 
            <h3>Next chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/tutorial/browse-page.html' %}">Setting Up Basic Browse Pages</a></li>
            </ol>
            <h3>Previous chapter:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/tutorial/reg-page.html' %}">Adding a Registration Page</a></li>
            </ol>
            <h3>Buy the book:</h3>
            <ol class="list-unstyled toc">
                <li><a href="{% url '/order.html' %}">Order Hello Web App</a></li>
            </ol>
        </div>

        <div class="col-md-9">

{% filter markdown %}
These new "users" can't create and update `Thing`s yet in our database.
We're going to assume a one-to-one database relationship between users and
`Thing`s — that is users can only create and update one `Thing`. This works best
for schemes like "profiles in a directory" but less so for "items in a store."
For the sake of brevity, we're going to stick with the former but will give some
resources later in the book if you're building something where users will need
to have multiple `Thing`s.

## Changing our model so `User`s can own a `Thing`

First thing we need to do is tie our `Thing` model to our `User`s model, so
every `Thing` is owned by one and only one `User`. 

Update your `Thing` model (or whatever you called it) to the following:

*models.py*
{% endfilter %}

<pre><code class="python">
# don't forget to import this
<b>from django.contrib.auth.models import User</b>
from django.db import models

class Thing(models.Model):
    name = models.CharField(max_length=255)
    description = models.TextField()
    slug = models.SlugField(unique=True)
    # the new line we're adding
    <b>user = models.OneToOneField(User, blank=True, null=True)</b>
</code></pre>

{% filter markdown %}
We're in a tiny bit of a pickle. We're saying that each `Thing` needs to have a
unique `User`. Remember the migrations stuff we did earlier? We'll need to
migrate the database to this new schema. Visualize a spreadsheet of `Thing`s
with all their attributes — we need to add a new column for the `Thing`'s
`User`, and fill that in for each row. 

To make this easy, we're going to tell Django that it's okay if the `Thing`
doesn't have a `User` assigned to it — that's the `blank=True, null=True` stuff
we added. That way we don't have to worry about filling in the previous objects
created, just our future ones.

### Migrating your database

Create the migration by running the command below:
{% endfilter %}

<pre><code class="sh">
<span class="cmd">$</span> python manage.py makemigrations
Migrations for 'collection':
  0002_thing_user.py:
    - Add field user to thing
</code></pre>

{% filter markdown %}
And then apply the migration...
{% endfilter %}

<pre><code class="sh">
<span class="cmd">$</span> python manage.py migrate
Operations to perform:
  Synchronize unmigrated apps: registration
  Apply all migrations: admin, contenttypes, collection, auth, sessions
Synchronizing apps without migrations:
  Creating tables...
  Installing custom SQL...
  Installing indexes...
Running migrations:
  Applying collection.0002_thing_user... OK
</code></pre>

{% filter markdown %}

Now your `Thing`s can have a `User` owning them!

## Updating your registration flow

You're almost done with this doozy of a chapter. The last thing we need to do is
set up an additional registration page so when a new user signs up, they'll also
set up their `Thing`.

First, add a couple new URLs to our *urls.py* file:

*urls.py*
{% endfilter %}

<pre><code class="python">
# add this to the top
<b>from collection.backends import MyRegistrationView</b>
<b>url(r'^accounts/register/$', 
    MyRegistrationView.as_view(),
    name='registration_register'),
url(r'^accounts/create_thing/$', views.create_thing, 
    name='registration_create_thing'),</b>
url(r'^accounts/', 
    include('registration.backends.default.urls')),
url(r'^admin/', admin.site.urls),
</code></pre>

{% filter markdown %}

Then head back over to *views.py* to create the new view:

*views.py*
{% endfilter %}

<pre><code class="python">
# add at the top
<b>from django.template.defaultfilters import slugify</b>
</code></pre>

{% filter markdown %}

*views.py*
{% endfilter %}

<pre><code class="python">
# add below your edit_thing view
<b>def create_thing(request):
    form_class = ThingForm

    # if we're coming from a submitted form, do this
    if request.method == 'POST':
        # grab the data from the submitted form and
        # apply to the form
        form = form_class(request.POST)
        if form.is_valid():
            # create an instance but don't save yet
            thing = form.save(commit=False)

            # set the additional details
            thing.user = request.user
            thing.slug = slugify(thing.name)

            # save the object
            thing.save()

            # redirect to our newly created thing
            return redirect('thing_detail', slug=thing.slug)

    # otherwise just create the form
    else:
        form = form_class()

    return render(request, 'things/create_thing.html', {
        'form': form,
    })</b>
</code></pre>

{% filter markdown %}
We're going to be reusing the form (`ThingForm`) we made before! Next, we'll
need to create the template. Create the file:
{% endfilter %}

<pre><code class="sh">
<span class="cmd">$</span> cd collection/templates/things
<span class="cmd">collection/templates/things $</span> touch create_thing.html
</code></pre>

{% filter markdown %}
Then fill it out:

*create_thing.html*
{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% extends 'base.html' %}
{% block title %}
    Create a Thing - {{ block.super }}
{% endblock title %} 

{% block content %}
    &lt;h1&gt;Create a Thing&lt;/h1&gt;
    &lt;form role="form" action="" method="post"&gt;
        {% csrf_token %}
        {{ form.as_p }}
        &lt;input type="submit" value="Submit" /&gt;
    &lt;/form&gt;
{% endblock %}
</code></pre>
{% endverbatim %}

{% filter markdown %}
Very last thing we need to do is tell django-registration-redux to go to this
form's page after successful registration instead of the registration complete
page.

We're going to accomplish this by *subclassing* a portion of
django-registration-redux. This is a powerful way to override bits of code in
open-source plugins, so you can change only the bit you want to change, rather
than rewriting the entire plugin.

We're going to put this piece of overwritten code in its own file. In your
`collection` directory, create a file called `backends.py`:

{% endfilter %}

<pre><code class="sh">
<span class="cmd">$</span> cd collection
<span class="cmd">collection $</span> touch backends.py
</code></pre>

{% filter markdown %}
Here are the contents of the new *backends.py*:

*backends.py*
{% endfilter %}

<pre><code class="python">
from registration.backends.simple.views import RegistrationView

# my new registration view, subclassing RegistrationView
# from our plugin
class MyRegistrationView(RegistrationView):
    def get_success_url(self, request, user):
        # the named URL that we want to redirect to after
        # successful registration
        return ('registration_create_thing')
</code></pre>

{% filter markdown %}
How did we know about this? Check out django-registration-redux's documentation
on views ([http://hellowebapp.com/26](http://hellowebapp.com/26)) — this page
lists out all the classes included in django-registration-redux and what is
recommended to subclass. You can also browse the code on the
django-registration-redux GitHub repository
([http://hellowebapp.com/27](http://hellowebapp.com/27)).

Check out your web app — users can now register for your website, which prompts
them to create a `Thing`, and after successful registration, plops them into the
newly created `Thing` page with a link to edit it.

### Update permissions to edit objects

We probably want to make it so the owner of a `Thing` can edit only his or her
respective `Thing`. Update your `Thing` template so the link is hidden to anyone
who isn't logged in:

*thing_detail.html*
{% endfilter %}

{% verbatim %}
<pre><code class="django">
{% extends 'base.html' %}
{% block title %}
    {{ thing.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
    &lt;h1&gt;{{ thing.name }}&lt;/h1&gt;
    &lt;p&gt;{{ thing.description }}&lt;/p&gt;
    <b>{% if user == thing.user %}
        &lt;p&gt;
            &lt;a href="{% url 'edit_thing' slug=thing.slug %}"&gt;
                Edit me!
            &lt;/a&gt;
        &lt;/p&gt;
    {% endif %}</b>
{% endblock content %}
</code></pre>
{% endverbatim %}

{% filter markdown %}
We also want to add some additional security precautions to our view to make
sure that we don't let non-owners edit information that isn't theirs. 

Update your *views.py*:

*views.py*
{% endfilter %}

<pre><code class="python">
<b>from django.contrib.auth.decorators import login_required
from django.http import Http404</b>
</code></pre>

{% filter markdown %}
*views.py*
{% endfilter %}

<pre><code class="python">
<b>@login_required</b>
def edit_thing(request, slug):
    # grab the object...
    thing = Thing.objects.get(slug=slug)

    <b># make sure the logged in user is the owner of the thing
    if thing.user != request.user:
        raise Http404</b>

    # set the form we're using...
    form_class = ThingForm

    # if we're coming to this view from a submitted form,
    # do this
    if request.method == 'POST':
        # grab the data from the submitted form and
        # apply to the form
        form = form_class(data=request.POST, instance=thing)
        if form.is_valid():
            # save the new data
            form.save()
            return redirect('thing_detail', slug=thing.slug)
    # otherwise just create the form
    else:
        form = form_class(instance=thing)

    # and render the template
    return render(request, 'things/edit_thing.html', {
        'thing': thing,
        'form': form,
    })
</code></pre>

{% filter markdown %}
We're adding two important security measures — adding a *decorator* to our view
(`@login_required`), provided by Django, that basically says, "The only people
who can access this view are ones who are logged in." The second thing we're
doing is checking the `Thing` we're grabbing the edit page for, and creating a
404 "Page not found" error if the logged-in user isn't the owner of the `Thing`
instance. You, as admin, can still update/edit info for your users from your
admin panel, but this prevents users from editing other users' information. 

Our longest, most intense chapter yet! I hope this chapter gave you a better
idea on how you can extend open-source plugins, update them to satisfy your
needs, and how to keep data secure on your website. 

*One last thing* — we set up the templates to do a password update for logged
in users (that's the *password_change* templates we set up before). Can you
figure out how to add that yourself?

Commit your work before moving forward!
{% endfilter %}

{% include 'includes/tutorial-footer.html' with github="https://github.com/hellowebapp/hellowebapp-code/tree/chapter-11" nextname="Setting Up Basic Browse Pages" nextlink="/tutorial/browse-page.html" prevname="Adding a Registration Page" prevlink="/tutorial/reg-page.html" title="Associating Users with Objects" path="/tutorial/user-objects.html" %}

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
<link rel="stylesheet" href="{% static '/css/tomorrow.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}
