{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Articles</h1>

    <ul class="list-unstyled" id="archive-list">
        {% for post in posts %}
        <li>
            <!--<a href='/{{ post.path }}'><aside class="dates">{{ post.date|date:"M j" }}</aside></a>-->
            <a href='{{ post.page.link_url|cut:".html" }}/'>{{ post.title }}</a>
            <p>{{ post.headline }}</p>
        </li>
        {% endfor %}
    </ul> <!--post-list-->

</div>

{% endblock content %}
