{% extends "base.html" %}

{% block title %}Donate - {{ block.super }}{% endblock %}

{% block content %}

<div class="jumbotron"></div>

<div class="container">
    <h1 class="text-center">Donate</h1>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">

            <p>Missed the Kickstarters and want to donate? Perhaps you acquired the book for free and want to give back? 
                (I'm not judging!)</p>

            <p>Contributions go towards supporting the author as well as helping fund workshops and classes using Hello Web App's material. I appreciate it!</p>

            <iframe src="https://donorbox.org/embed/hello-web-app-donation-box" height="685px" width="100%" style="margin-top: 1em; max-width:500px; min-width:310px" seamless="seamless" name="donorbox" frameborder="0" scrolling="no"></iframe>

        </div>
    </div>
</div>

{% include 'includes/newsletter.html' %}

{% endblock content %}
