{% extends "base.html" %}

{% block title %}Error - {{ block.super }}{% endblock %}

{% block content %}

<div class="jumbotron"></div>

<div class="container text-center">
    <h1>Error. :(</h1>
    <p>
        The page <b id="url"></b> could not be found on this server.
    </p>
</div>

{% include 'includes/newsletter.html' %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        // Add the missing url to the text
        $("#url").text(window.location.pathname);

        // Fix the css locations dynamically
        $("head link").each(function() {
            for (var i=0; i<window.location.pathname.split(/\//g).length-2; i++)
                $(this).attr("href", "../" + $(this).attr("href"));
        });
    })
</script>
{% include 'includes/newsletter-analytics.html' %}
{% endblock scripts %}
