{% extends "base.html" %}

{% block title %}FAQ - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("FAQ");
{% endblock %}

{% block bodyclass %}
<body id="faq">
{% endblock %}

{% block content %}

<div class="jumbotron"></div>

<div class="container">
    <h1 class="text-center">Frequently Asked Questions</h1>
    <div class="row">
    <dl class="col-md-10 col-md-offset-1">
        <dt>
            What level of programming experience do I need? What about HTML and CSS?
        </dt>
        <dd>
            <strong>Hello Web App assumes you have no previous programming knowledge.</strong> But it's best if you know a bit about HTML markup — since the book starts out building a website and setting up static files, things will fit a lot faster if you know a bit about website creation. That said, if you like to learn-by-doing, feel free to walk through the tutorial verbatim and you'll learn some HTML as you go.
        </dd>
        <dt>
            What do you build in the tutorial?
        </dt>
        <dd>
            <strong>We're building a "collection of things."</strong> That sounds generic, but you can alter the generic examples ("Thing") to something that fits this metric (like building a directory of web designers, so your "Thing" will be a "Profile.") A lot of different ideas fit this — for example, Twitter is a collection of small paragraphs. Pinterest is a collection of photos. Facebook used to be a collection of personal data.

            I highly encourage you to build something unique to you, because what you'll learn will stick better!
        </dd>
        <dt>
            What version of Python and Django is Hello Web App written for?
        </dt>
        <dd>
            <strong>Hello Web App is written with Python 2.7 and Django 1.8.</strong> The book is basically Python 3 ready, but since a ton of resources (like plugins) are still on Python 2.7, I feel that beginner content should teach 2.7 so most resources are accessible. That said, I might release an additional Python 3 version in addition to the main book if demand is high enough.
        </dd>
        <dt>
            How much is shipping for the physical books?
        </dt>
        <dd>
            If you're in the US, shipping is included for the paperback books. If you're in Canada, shipping is around $10 USD extra. If you're elsewhere, shipping is $14-18 USD extra. All shipping is done through USPS.
        </dd>
        <dt>
            What is the shipping speed?
        </dt>
        <dd>
        By default, all shipping is the cheapest, slowest amount (Media Mail for US residents or First Class International otherwise). Optionally, US residents can pay extra for Priority shipping or overnight.
        </dd>
        <dt>
            Where should I buy to give you the most amount of profit?
        </dt>
        <dd>
            Seriously, I get this question a lot. <strong><a href="http://gumroad.com/limedaring">Buy from Gumroad!</a></strong>
        </dd>
    </dl>
    </div>
</div>

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
{% endblock scripts %}
