{% extends "base.html" %}

{% block title %}{{ block.super }} | Beginner Programming &amp; Design Books{% endblock %}

{% block analytics %}
analytics.page("Homepage");
{% endblock %}

{% block bodyclass %}
<body id="home">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container text-center">
        <h1>Learn a new skill</h1>
        <h2>Brief books and videos by Tracy Osborn to teach you how to build a web app, how to make better designs, or both.</h2>

        <a href="{% url '/tutorial/intro.html' %}" class="btn btn-secondary-outline" data-loc="Jumbotron">Read Online</a>
        <a href="{% url '/order.html' %}" class="btn btn-primary">Buy the books</a>
    </div>
</div>

<div class="container">
    <div class="row packages">
        <div class="col-sm-4 text-center">
            <img src="{% static '/images/icons/design.svg' %}" width="50" height="50" alt="" class="vertical-margin" />
            <p class="small-sans"><small>Upcoming</small></p>
            <h4><a href="{% url '/learn-design.html' %}">Hello Web Design</a></h4>
            <h5>Web design fundamentals and shortcuts.</h5>
            {% comment %}<img src="{% static '/images/ic.jpg' %}" alt="Hello Web Design" class="vertical-margin" />{% endcomment %}
            <p>Design shortcuts and fundamentals aimed for programmers, developers, marketers, and non-designers. Learn just enough design to be dangerous.</p>
            <p><a href="{% url '/learn-design.html' %}" class="btn btn-secondary btn-sm">More about Hello Web Design</a></p>
        </div>
        <div class="col-sm-4 text-center">
            <img src="{% static '/images/icons/hwa.svg' %}" width="50" height="50" alt="" class="vertical-margin" />
            <p class="small-sans"><small>Released May 4th, 2015</small></p>
            <h4><a href="{% url '/learn-django.html' %}">Hello Web App</a></h4>
            <h5>Learn how to build your first web app.</h5>
            {% comment %}<img src="{% static '/images/original.jpg' %}" alt="Hello Web App original" class="vertical-margin" />{% endcomment %}
            <p>Want to build your first web app? Hello Web App walks you through building and launching a simple web app using Python and Django.</p>
            <p><a href="{% url '/learn-django.html' %}" class="btn btn-secondary btn-sm">More about Hello Web App</a></p>
        </div>
        <div class="col-sm-4 text-center">
            <img src="{% static '/images/icons/hwaic.svg' %}" width="50" height="50" alt="" class="vertical-margin" />
            <p class="small-sans"><small>Released December 7th, 2015</small></p>
            <h4><a href="{% url '/intermediate-concepts.html' %}">Hello Web App: <span style="font-size: 14px">Intermediate Concepts</span></a></h4>
            <h5>Intermediate Django web app tutorials.</h5>
            {% comment %}<img src="{% static '/images/ic.jpg' %}" alt="Hello Web App: Intermediate Concepts" class="vertical-margin" />{% endcomment %}
            <p>Learn how to add more advanced features to your app, such as customer payments, user-uploaded images, proper database design, and more.</p>
            <p><a href="{% url '/django-intermediate-concepts.html' %}" class="btn btn-secondary btn-sm">More about Hello Web App: IC</a></p>
        </div>
    </div>

    <p class="text-center super-vertical-margin">
        <a href="{% url '/order.html' %}" class="btn btn-primary">Buy the books</a>
    </p>

</div>

<div class="container-fluid photo-row">
    <div class="row">
        <div class="col-sm-3">
            <img src="{% static 'images/products/both-books.jpg' %}" alt="Both Hello Web App books" />
        </div>
        <div class="col-sm-3">
            <img src="{% static 'images/original/1.jpg' %}" alt="" />
        </div>
        <div class="col-sm-3">
            <img src="{% static 'images/original/2.jpg' %}" alt="" />
        </div>
        <div class="col-sm-3">
            <img src="{% static 'images/both/1.jpg' %}" alt="" />
        </div>

    </div>
</div>

<div class="container">
    <div id="featured-post-list">
        <h2 class="text-center">Featured Posts on the Blog</h2>
        <ul class="list-unstyled row">
        {% for post in posts %}
            {% if post.featured == "True" %}
            <li class="col-md-4">
                {% if post.featuredimage %}
                <div class="thumbnail">
                    <a href='{{ post.page.link_url|cut:".html" }}/'>
                        <img src="{% static post.featuredimage %}" alt="{{ post.title }}" />
                    </a>
                </div>
                {% endif %}
                <h5>
                    <a href='{{ post.page.link_url|cut:".html" }}/'>
                        {{ post.title }}
                        {% comment %}<h2>{{ post.excerpt }}</h2>{% endcomment %}
                    </a>
                </h5>
                {% comment %}
                <a href='{{ post.page.link_url }}'>
                    <aside class="dates">{{ post.date|date:"F j, Y" }}</aside>
                </a>
                {% endcomment %}
            </li>
            {% endif %}
        {% endfor %}
        </ul>

        <p class="text-center" style="margin-bottom: 3em;">
            <a href="{% url '/news.html' %}" class="btn btn-secondary">More on the Hello Web App blog</a>
        </p>
    </div>
</div>

{% include 'includes/newsletter.html' %}
{% endblock content %}

{% block scripts %}
{{ block.super }}
{% comment %}
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
    function showMailingPopUp() {
        require(["mojo/signup-forms/Loader"], function(L) {
            L.start({
                "baseUrl": "mc.us3.list-manage.com",
                "uuid": "65146251a5ccb429e109f902f",
                "lid": "f0a7b0a10c"
            })
        })
        document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    };

    $(document).ready(function() {
        var link = $(".free-sample-link");
        analytics.trackLink(link, 'Clicked Free Sample Link', {
            location: $(link).data("loc"),
        });

        $('.free-sample-link').click(function(e) {
            e.preventDefault();
            showMailingPopUp();
        });
    });
</script>
{% endcomment %}
{% include 'includes/newsletter-analytics.html' %}
{% endblock scripts %}
