{% extends "base.html" %}
{% block title %}Make Better Designs with Hello Web Design - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Hello Web Design book landing page");
{% endblock %}

{% block bodyclass %}
<body id="design" class="book-pages">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container text-center">
        <h1>Become a better designer</h1>
        <h2>Hey programmers, developers, marketers, and non-designers &#8212; want to become a better designer? This short book has everything you need. Coming out late summer 2017.</h2>

        <a href="{% url '/order.html' %}" class="btn btn-primary">Pre-order the book</a>
    </div>
</div>

<div class="container">
    <h2 class="content-block text-center">Design fundamentals and shortcuts for non-designers.</h2>
    <p class="content-block text-center">Beginner design books assume you want to become an expert designer. What if you want to learn just enough to complement your existing work? Hello Web Design will teach you the basics about design (no history!) and give you shortcuts <strong>so you can immediately become a better designer.</strong></p>

    <p class="text-center super-vertical-margin">
        <a href="{% url '/order.html' %}" class="btn btn-large btn-secondary">Pre-order the book</a>
    </p>

</div>

{% comment %}
<div class="container-fluid photo-row">
    <div class="row">
        <div class="col-sm-3">
            <img src="{% static 'images/original/1.jpg' %}" alt="" />
        </div>

        <div class="col-sm-3">
            <img src="{% static 'images/original/2.jpg' %}" alt="" />
        </div>

        <div class="col-sm-3">
            <img src="{% static 'images/original/3.jpg' %}" alt="" />
        </div>
        <div class="col-sm-3">
            <img src="{% static 'images/original/4.jpg' %}" alt="" />
        </div>
    </div>
</div>
{% endcomment %}

<div class="container">
    <div class="text-center">
        <h2 class="super-vertical-margin">As based on the presentation given around the world</h2>
        <figure class="full video">
            <iframe src="https://www.youtube.com/embed/lsPrhA_m6ss" frameborder="0" allowfullscreen></iframe>
        </figure>
    </div>

    <div class="row table-of-contents content-block">
        <h2 class="text-center">Table of Contents</h2>
        <ul class="col-sm-12">
            <li>Introduction</li>
            <li>If you only read one chapter, make it this one</li>
        </ul>
        <ul class="col-sm-6">
            <li><strong>Part 1:</strong> Theory and Design Principles
                <ul>
                    <li>Grid</li>
                    <li>Color</li>
                    <li>Typography</li>
                    <li>White Space</li>
                    <li>Layout</li>
                    <li>Content</li>
                    <li>User Experience</li>
                    <li>Images and Imagery</li>
                    <li>Extra Tidbits</li>
                </ul>
            </li>
        </ul>
        <ul class="col-sm-6">
            <li><strong>Part 2:</strong> The Process and Training Your Design Intuition
                <ul>
                    <li>Finding Inspiration</li>
                    <li>Planning, Sketching, and Mocking</li>
                    <li>Getting Feedback</li>
                    <li>Coding the Site</li>
                </ul>
            </li>
        </ul>
        <ul class="col-sm-12">
            <li>Reassurances</li>
            <li>Moving Forward</li>
        </ul>
    </div>

    {% comment %}<p class="text-center super-vertical-margin">
        <a href="{% url '/order.html' %}" class="btn btn-large btn-primary">Pre-order the book</a>
    </p>{% endcomment %}

    <div class="row text-center">
        <h2 class="text-center">Packages available</h2>
        <div class="col-sm-4">
            <h3 class="text-center">The eBooks</h3>
            <p><strong>Hello Web Design in digital format</strong>, lovingly designed by Tracy herself. A brief book jam-packed with information. Comes in PDF, .mobi, and .ePub formals.</p>
            <div class="text-center">
                <script src="https://gumroad.com/js/gumroad.js"></script>
                <a class="gumroad-button" href="https://gum.co/hwd-ebook">Pre-order for $14.95</a>
            </div>
            {% comment %}<p><small>$14.95</small></p>{% endcomment %}
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">The Video Package</h3>
            <p><strong>The eBooks plus 15+ videos</strong> walking you through the theory and process parts of the book, plus extra "design critique" videos to help you train your design intuition. <em>Add the paperback book for $10 more.</em></p>
            <div class="text-center">
                <a class="gumroad-button gumroad-button-strong" href="https://gum.co/hwd-videos">Pre-order for $79</a>
            </div>
            {% comment %}<p><small>$79</small></p>{% endcomment %}
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">The Paperback Package</h3>
            <p>Learn better with a physical book? I got you! This package contains the eBook (in all three formats) <strong>plus the paperback book</strong>. Shipping extra.</p>
            <div class="text-center">
                <a class="gumroad-button" href="https://gum.co/hwd-pb">Pre-order for $24.95</a>
            </div>
            {% comment %}<p><small>$24.95</small></p>{% endcomment %}
        </div>
    </div>

{% comment %}
    <div class="row">
        <h2 class="text-center vertical-margin" style="font-size: 3rem;">Buy the book</h2>
        <div class="col-sm-5">
            <img src="{% static 'images/products/original-videos.jpg' %}" alt="Hello Web App complete video package" />
        </div>
        <div class="col-sm-7">
            <h3 style="font-size: 2rem;">The Complete Hello Web App Package</h3>
            <p>This package contains the entire Hello Web App series &#8212; the paperback books, the videos, and the eBooks. Learn how to build, grow, and monetize your web app all in one purchase.</p>
            <h4>Full contents:</h4>
            <ul>
                <li>Three eBook files &#8212; PDF, .mobi, and .ePub.</li>
                <li>15 videos &#8212; screencasts walking you through all chapters of the book plus four bonus beginner videos.</li>
                <li>The gorgeously designed paperback book.</li>
            </ul>
            <p class="text-center vertical-margin">
                <a href="//gum.co/complete-hwa-pb" class="btn btn-primary buy-button" data-title="Hello Web App Video Paperback package" data-price="89">Buy for $89</a>
            </p>
        </div>
    </div>

    <div class="row super-vertical-margin">
        <p class="text-center"><a href="{% url '/order.html' %}" class="btn btn-secondary">See all buying options here, starting at $14.95</a></p>
    </div>
{% endcomment %}
</div>

{% include 'includes/newsletter.html' %}
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
    function showMailingPopUp() {
        require(["mojo/signup-forms/Loader"], function(L) {
            L.start({
                "baseUrl": "mc.us3.list-manage.com",
                "uuid": "65146251a5ccb429e109f902f",
                "lid": "f0a7b0a10c"
            })
        })
        document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    };

    $(document).ready(function() {
        $(".buy-button").each(function() {
            var link = $(this);
            analytics.trackLink(link, 'Clicked Buy Link', {
                title: $(link).data("title"),
                price: $(link).data("price"),
            });
        });

        $(".free-sample-link").each(function() {
            var link = $(this);
            analytics.trackLink(link, 'Clicked Free Sample Link', {
                title: $(link).data("loc"),
            });
        });

        $('.free-sample-link').click(function(e) {
            e.preventDefault();
            showMailingPopUp();
        });
    });
</script>
{% include 'includes/newsletter-analytics.html' %}
{% endblock scripts %}
