{% extends "base.html" %}

{% block title %}Blog - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Blog Home");
{% endblock %}

{% block content %}

<div class="jumbotron"></div>

<div class="container">
    <h1 class="text-center">Articles</h1>
    <div class="row">
        <!-- main col -->
        <div class="col-md-7">
            <ul class="list-unstyled" id="archive-list">
                {% for post in posts %}
                {% if forloop.counter0 < 20 %}
                <li>
                    {% if post.featuredimage %}
                    <div class="thumbnail">
                        <a href="{{ post.page.link_url|cut:".html" }}">
                            <img src="{% static post.featuredimage %}" alt="{{ post.title }}" />
                        </a>
                    </div>
                    {% endif %}
                    <aside class="dates">{{ post.date|date:"F j, Y" }}</aside></a>
                    <h2><a href='{{ post.page.link_url|cut:".html" }}/'>{{ post.title }}</a></h2>
                    {% if post.headline %}
                    <p>{{ post.headline }}</p>
                    {% endif %}
                    {% if post.excerpt %}
                    <p class="excerpt">{{ post.excerpt|truncatewords:30 }}</p>
                    {% endif %}
                    <p class="readmore"><a href="{{ post.page.link_url|cut:".html" }}/">Read more...</a></p>
                </li>
                {% endif %}
                {% endfor %}
            </ul> <!--post-list-->
        </div>
        <!-- newsletter -->
        <div class="col-md-4 col-md-offset-1 right-sidebar">
            <ul class="list-inline social-media">
                <li><a href="//twitter.com/hellowebapp"><i class="fa fa-twitter"></i></a></li>
                <li><a href="//facebook.com/hellowebapp"><i class="fa fa-facebook"></i></a></li>
                <li><a href="//github.com/hellowebapp"><i class="fa fa-github"></i></a></li>
                <li><a href="mailto:tracy@hellowebapp.com"><i class="fa fa-envelope"></i></a></li>
            </ul>

            <div class="blog-newsletter text-center">
                <h2>Get the Hello Web App newsletter</h2>
                <p><small>Get email notifications of new posts, new books, and more.</small></p>

                <div id="mc_embed_signup">
                    <form action="//hellowebapp.us3.list-manage.com/subscribe/post?u=65146251a5ccb429e109f902f&amp;id=f0a7b0a10c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="required email form-control form-control-sm" id="mce-EMAIL" placeholder="Email address">
                            </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65146251a5ccb429e109f902f_f0a7b0a10c" tabindex="-1" value=""></div>
                        <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-sm">
                        </div>
                    </form>
                </div>
            </div>

            <div class="sub-categories">
                <h2 class="text-center">Posts by category</h2>
                <h3 class="text-center">Case Studies</h3>
                <ul class="list-unstyled">
                {% for post in posts %}
                    {% if post.category == "casestudy" %}
                    <li><a href='{{ post.page.link_url|cut:".html" }}/'>{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                <h3 class="text-center">Tutorials</h3>
                <ul class="list-unstyled">
                {% for post in posts %}
                    {% if post.category == "tutorial" %}
                    <li><a href='{{ post.page.link_url|cut:".html" }}/'>
                        {{ post.title }}
                    </a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                <h3 class="text-center">Interviews</h3>
                <ul class="list-unstyled">
                {% for post in posts %}
                    {% if post.category == "interview" %}
                    <li><a href='{{ post.page.link_url|cut:".html" }}/'>
                        {{ post.title }}
                    </a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                <h3 class="text-center">Production</h3>
                <ul class="list-unstyled">
                {% for post in posts %}
                    {% if post.category == "production" %}
                    <li><a href='{{ post.page.link_url|cut:".html" }}/'>
                        {{ post.title }}
                    </a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                <h3 class="text-center">Design</h3>
                <ul class="list-unstyled">
                {% for post in posts %}
                    {% if post.category == "design" %}
                    <li><a href='{{ post.page.link_url|cut:".html" }}/'>
                        {{ post.title }}
                        {% comment %}<h2>{{ post.excerpt }}</h2>{% endcomment %}
                    </a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                <h2 class="text-center">Other links</h2>
                <ul class="list-unstyled">
                    <li><a href="{% url '/archive.html' %}">All articles</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include 'includes/newsletter.html' %}
{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
{% endblock scripts %}
