{% extends "base.html" %}

{% block title %}Order - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Order");
{% endblock %}

{% block bodyclass %}
<body id="order">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>

<div class="container">
    <h1 class="text-center">Order</h1>
    <p class="text-center">Ready to buy? Choose which package you want below!</p>

    {% comment %}
    Choose which books you want
    {% endcomment %}
    <div class="row packages choose-package">
        <div class="col-md-4 text-center">
            <a href="#original">
                <img src="{% static '/images/products/original-square.jpg' %}" alt="Hello Web App original"/>
            </a>
            <h3>Hello Web App</h3>
            <p>Start building your first Django web app. From project ideation to launching on Heroku.</p>
            <a href="#original" class="btn btn-secondary">Choose package</a>
            <p><small>Starting at $14.95</small></p>
        </div>
        <div class="col-md-4 text-center">
            <a href="#both">
                <img src="{% static '/images/products/both-books.jpg' %}" alt="Hello Web App and Hello Web App: Intermediate Concepts"/>
            </a>
            <h3>Both Books &#8212; Combo Pack</h3>
            <p>Everything you need to build and grow a web app. Create a web app, launch it, and make it a success.</p>
            <a href="#both" class="btn btn-primary">Choose package</a>
            <p><small>Starting at $24.95</small></p>
        </div>
        <div class="col-md-4 text-center">
            <a href="#ic">
                <img src="{% static '/images/products/ic-square.jpg' %}" alt="Hello Web App Intermediate Concepts"/>
            </a>
            <h3>Hello Web App: Intermediate Concepts</h3>
            <p>Take your web app to the next level. Add an API, payments, learn intermediate concepts, and more.</p>
            <a href="#ic" class="btn btn-secondary">Choose package</a>
            <p><small>Starting at $14.95</small></p>
        </div>
    </div>
    <hr/>

    {% comment %}
    Original - choose which package you want
    {% endcomment %}
    <div class="row packages sub-packages" id="original" name="original">
        <a name="original" />
        <div class="intro text-center">
            <h2>Now, choose your Hello Web App package</h2>
            <p>Hello Web App walks you through creating your first web app with a customizable project template, taking you from from ideation to deployment.</p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hellowebapp">
                <img src="{% static '/images/products/original-paperback.jpg' %}" alt="Hello Web App original paperback package"/>
            </a>
            <h3>Paperback Package</h3>
            <p>All eBook files (PDF, .mobi, and .ePub) as well as the beautifully designed paperback book. US shipping included.</p>
            <a href="https://gum.co/hellowebapp" class="btn btn-secondary buy-button" data-title="Original Paperbacks" data-price="29.95">Buy for $29.95</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hellowebapp-videos">
                <img src="{% static '/images/products/original-videos.jpg' %}" alt="Hello Web App original video package"/>
            </a>
            <h3>Video Package</h3>
            <p>All eBook files <em>and</em> fourteen screencasts and videos, walking you through every chapter of the book.</p>
            <a href="https://gum.co/hellowebapp-videos" class="btn btn-primary buy-button" data-title="Original Videos" data-price="79">Buy for $79</a>
            <p><small>Add the paperback for $10 + shipping</small></p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hellowebapp-ebook">
                <img src="{% static '/images/products/original-ebook.jpg' %}" alt="Hello Web App original ebook package"/>
            </a>
            <h3>eBook Package</h3>
            <p>Three eBook files (custom designed PDF, .mobi, and .ePub) to get you started on your web app journey.</p>
            <a href="https://gum.co/hellowebapp-ebook" class="btn btn-secondary buy-button" data-title="Original eBooks" data-price="14.95">Buy for $14.95</a>
        </div>
    </div>

    {% comment %}
    Both - choose which package you want
    {% endcomment %}
    <div class="row packages sub-packages" id="both" name="both">
        <a name="both" />
        <div class="intro text-center">
            <h2>Now, choose your combo Hello Web App package</h2>
            <p>Get everything you need to launch a your first web app and then add intermediate features like an API, customer payments, and more.</p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/double-hwa-pb">
                <img src="{% static '/images/products/both-paperback.jpg' %}" alt="Hello Web App combo paperback package"/>
            </a>
            <h3>Combo Paperback Package</h3>
            <p>All six eBook files (PDF, .mobi, and .ePub) as well as both beautifully designed paperback books. US shipping included.</p>
            <a href="https://gum.co/double-hwa-pb" class="btn btn-secondary buy-button" data-title="Double Paperbacks" data-price="49.95">Buy for $49.95</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/double-hwa-video">
                <img src="{% static '/images/products/both-videos.jpg' %}" alt="Hello Web App combo video package"/>
            </a>
            <h3>Combo Video Package</h3>
            <p>All six eBook files <em>and</em> twenty screencasts and videos, walking you through every chapter of both books.</p>
            <a href="https://gum.co/double-hwa-video" class="btn btn-primary buy-button" data-title="Double Videos" data-price="124">Buy for $124</a>
            <p><small>Add both paperbacks for $20 + shipping</small></p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/double-hwa-ebook">
                <img src="{% static '/images/products/both-ebook.jpg' %}" alt="Hello Web App combo ebook package"/>
            </a>
            <h3>Combo eBook Package</h3>
            <p>Six eBook files (custom designed PDF, .mobi, and .ePub for each book) to get you started on your web app journey.</p>
            <a href="https://gum.co/double-hwa-ebook" class="btn btn-secondary buy-button" data-title="Double eBooks" data-price="24.95">Buy for $24.95</a>
        </div>
    </div>

    {% comment %}
    IC - choose which package you want
    {% endcomment %}
    <div class="row packages sub-packages" id="ic" name="ic">
        <a name="ic" />
        <div class="intro text-center">
            <h2>Now, choose your Hello Web App: Intermediate Concepts package</h2>
            <p>Hello Web App: Intermediate Concepts helps you build more advanced features on your web app, like an API, admin emails, customer payments, user-uploaded images, and more.</p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hwa-ic-paperback">
                <img src="{% static '/images/products/ic-paperback.jpg' %}" alt="Hello Web App combo paperback package"/>
            </a>
            <h3>Paperback Package</h3>
            <p>All three eBook files (PDF, .mobi, and .ePub) as well as the beautifully designed paperback book. US shipping included.</p>
            <a href="https://gum.co/hwa-ic-paperback" class="btn btn-secondary buy-button" data-title="Intermediate Concepts Paperback" data-price="29.95">Buy for $29.95</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hwa-ic-complete">
                <img src="{% static '/images/products/ic-videos.png' %}" alt="Hello Web App combo video package"/>
            </a>
            <h3>Video Package</h3>
            <p>All eBook files <em>and</em> ten screencasts and videos, walking you through every chapter of the book.</p>
            <a href="https://gum.co/hwa-ic-complete" class="btn btn-primary buy-button" data-title="Intermediate Concepts Videos" data-price="79">Buy for $79</a>
            <p><small>Add the paperback for $10 + shipping</small></p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hwa-ic-ebooks">
                <img src="{% static '/images/products/ic-ebook.png' %}" alt="Hello Web App combo ebook package"/>
            </a>
            <h3>eBook Package</h3>
            <p>Three eBook files (custom designed PDF, .mobi, and .ePub) to help you take your web app to the next level.</p>
            <a href="https://gum.co/hwa-ic-ebooks" class="btn btn-secondary buy-button" data-title="Intermediate Concepts eBooks" data-price="14.95">Buy for $14.95</a>
        </div>
    </div>

    <div class="text-center">
        <h2>Curious about the videos and screencasts? See a preview:</h2>
        <figure class="full video">
<iframe src="https://player.vimeo.com/video/124640285?byline=0&portrait=0" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </figure>
    </div>

    <div class="content-block text-center">
        <h2>Additional buying options</h2>
        <p><i>Hello Web App</i> is also available on <a href="https://leanpub.com/hellowebapp?a=0Qu1J8dLjF2QeO0ymkzQOs" class="buy-button" data-title="Leanpub Hello Web App" data-price="9.95">Leanpub</a> and <a href="http://amzn.to/1yaeBNz" class="buy-button" data-title="Amazon Hello Web App" data-price="9.95">Amazon</a>.</p>
        <p><i>Hello Web App: Intermediate Concepts</i> is available on <a href="https://leanpub.com/hellowebapp-intermediate-concepts" class="buy-button" data-title="Leanpub Intermediate Concepts" data-price="9.95">Leanpub</a> or <a href="http://amzn.to/1lsXlxL" class="buy-button" data-title="Amazon Intermediate Concepts" data-price="9.95">Amazon</a> as well.</p>
    </div>

    <hr/>

    <div class="content-block text-center">
        <h2>Bulk orders</h2>
        <p>Interested in a classroom or workshop pack? Email <a href="mailto:tracy@hellowebapp.com">tracy@hellowebapp.com</a> for information on bulk licenses and discounts.</p>
    </div>
</div>

{% include 'includes/newsletter.html' %}
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        var toHide = false;
        $('a[href*=#]:not([href=#])').on('click', function (event) {
            event.preventDefault();
            var element = $(this.hash);
            if(toHide) {
                $(toHide).hide();
                toHide = false;
            }
            if(element.is(":hidden")) toHide = element.show();
            $('html,body').animate({ scrollTop: element.offset().top },'normal', 'swing');
        });

        $(".buy-button").each(function() {
            var link = $(this);
            analytics.trackLink(link, 'Clicked Buy Link', {
                title: $(link).data("title"),
                price: $(link).data("price")
            });
        });
    });
</script>
{% include 'includes/newsletter-analytics.html' %}
{% endblock %}
