{% extends "base.html" %}
{% block title %}Learn how to build your first web app - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Original book landing page");
{% endblock %}

{% block bodyclass %}
<body id="original">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container text-center">
        <h1>Build your first web app</h1>
        <h2>Design and build your own custom web app using Python and Django. <br/>
            Tailored for non-programmers, written by a designer.</h2>

        <a href="" class="btn btn-secondary-outline free-sample-link" data-loc="Jumbotron">Free Sample</a>
        <a href="{% url '/order.html' %}" class="btn btn-primary">Get the book</a>
    </div>
</div>

<div class="container">
    <h2 class="content-block text-center">Learn how to create your first web app with Hello Web App.</h2>
    <p class="content-block text-center"><strong>Build a basic web app, from ideation to deployment. </strong> Hello Web App walks you through creating a "collection of things," a project template that you can alter to fit almost any idea you'd like to build.</p>

</div>

<div class="container-fluid photo-row">
    <div class="row">
        <div class="col-sm-3">
            <img src="{% static 'images/original/1.jpg' %}" alt="" />
        </div>

        <div class="col-sm-3">
            <img src="{% static 'images/original/2.jpg' %}" alt="" />
        </div>

        <div class="col-sm-3">
            <img src="{% static 'images/original/3.jpg' %}" alt="" />
        </div>
        <div class="col-sm-3">
            <img src="{% static 'images/original/4.jpg' %}" alt="" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row table-of-contents content-block">
        <h2 class="text-center">Table of Contents</h2>
        <ul class="col-sm-6">
            <li>Introduction</li>
            <li>What We’re Building</li>
            <li>Prerequisites</li>
            <li>Getting Started</li>
            <li>Setting up your Templates</li>
            <li>Fun with Template Tags</li>
            <li>Adding Dynamic Data</li>
            <li>Displaying Dynamic Information in the Templates</li>
            <li>Setting up Individual Object Pages</li>
        </ul>
        <ul class="col-sm-5 col-sm-offset-1">
            <li>Forms.py Funsies</li>
            <li>Adding a Registration Page</li>
            <li>Setting up Basic Browse Pages</li>
            <li>Quick Hits: 404 Pages, requirements.txt, and Testing</li>
            <li>Deploying your Web App</li>
            <li>What To Do If Your App is Broken</li>
            <li>Important Things to Know</li>
            <li>Moving Forward</li>
        </ul>
    </div>


    <div class="row">
        <h2 class="text-center vertical-margin" style="font-size: 3rem;">Buy the book</h2>
        <div class="col-sm-5">
            <img src="{% static 'images/products/original-videos.jpg' %}" alt="Hello Web App complete video package" />
        </div>
        <div class="col-sm-7">
            <h3 style="font-size: 2rem;">The Complete Hello Web App Package</h3>
            <p>This package contains the entire Hello Web App series &#8212; the paperback books, the videos, and the eBooks. Learn how to build, grow, and monetize your web app all in one purchase.</p>
            <h4>Full contents:</h4>
            <ul>
                <li>Three eBook files &#8212; PDF, .mobi, and .ePub.</li>
                <li>15 videos &#8212; screencasts walking you through all chapters of the book plus four bonus beginner videos.</li>
                <li>The gorgeously designed paperback book.</li>
            </ul>
            <p class="text-center vertical-margin">
                <a href="//gum.co/complete-hwa-pb" class="btn btn-primary buy-button" data-title="Hello Web App Video Paperback package" data-price="89">Buy for $89</a>
            </p>
        </div>
    </div>

    <div class="row super-vertical-margin">
        <p class="text-center"><a href="{% url '/order.html' %}" class="btn btn-secondary">See all buying options here, starting at $14.95</a></p>
    </div>
</div>

{% include 'includes/newsletter.html' %}
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
    function showMailingPopUp() {
        require(["mojo/signup-forms/Loader"], function(L) {
            L.start({
                "baseUrl": "mc.us3.list-manage.com",
                "uuid": "65146251a5ccb429e109f902f",
                "lid": "f0a7b0a10c"
            })
        })
        document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    };

    $(document).ready(function() {
        $(".buy-button").each(function() {
            var link = $(this);
            analytics.trackLink(link, 'Clicked Buy Link', {
                title: $(link).data("title"),
                price: $(link).data("price"),
            });
        });

        $(".free-sample-link").each(function() {
            var link = $(this);
            analytics.trackLink(link, 'Clicked Free Sample Link', {
                title: $(link).data("loc"),
            });
        });

        $('.free-sample-link').click(function(e) {
            e.preventDefault();
            showMailingPopUp();
        });
    });
</script>
{% include 'includes/newsletter-analytics.html' %}
{% endblock scripts %}
