{% extends "base.html" %}
{% block title %}Learn how to build your first web app - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Original book landing page");
{% endblock %}

{% block bodyclass %}
<body id="original">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container text-center">
        <h1>Build your first web app</h1>
        <h2>Design and build your own custom web app using Python and Django. <br/>
            Tailored for non-programmers, written by a designer.</h2>

        <a href="" class="btn btn-secondary-outline">Free Sample</a>
        <a href="{% url '/order.html' %}" class="btn btn-primary">Order</a>
    </div>
</div>

<div class="container">
    <h2 class="content-block text-center">Learn how to create your first web app with Hello Web App.</h2>
    <p class="content-block text-center"><strong>Build a basic web app, from ideation to deployment. </strong> Hello Web App walks you through creating a "collection of things," a project template that you can alter to fit almost any idea you'd like to build.</p>

</div>

<div class="container-fluid photo-row">
    <div class="row">
        <div class="col-sm-3">
            <img src="{% static 'images/original/1.jpg' %}" alt="" />
        </div>

        <div class="col-sm-3">
            <img src="{% static 'images/original/2.jpg' %}" alt="" />
        </div>

        <div class="col-sm-3">
            <img src="{% static 'images/original/3.jpg' %}" alt="" />
        </div>
        <div class="col-sm-3">
            <img src="{% static 'images/original/4.jpg' %}" alt="" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row table-of-contents content-block">
        <h2 class="text-center">Table of Contents</h2>
        <ul class="col-sm-6">
            <li>Introduction</li>
            <li>What We’re Building</li>
            <li>Prerequisites</li>
            <li>Getting Started</li>
            <li>Setting up your Templates</li>
            <li>Fun with Template Tags</li>
            <li>Adding Dynamic Data</li>
            <li>Displaying Dynamic Information in the Templates</li>
            <li>Setting up Individual Object Pages</li>
        </ul>
        <ul class="col-sm-5 col-sm-offset-1">
            <li>Forms.py Funsies</li>
            <li>Adding a Registration Page</li>
            <li>Setting up Basic Browse Pages</li>
            <li>Quick Hits: 404 Pages, requirements.txt, and Testing</li>
            <li>Deploying your Web App</li>
            <li>What To Do If Your App is Broken</li>
            <li>Important Things to Know</li>
            <li>Moving Forward</li>
        </ul>
    </div>
</div>

{% include 'includes/newsletter.html' %}
{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
{% endblock scripts %}
