{% extends "base.html" %}
{% block title %}Learn how to build your first web app - {{ block.super }}{% endblock %}

{% block bodyclass %}
<body id="original">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container text-center">
        <h1>Build your first web app</h1>
        <h2>Design and build your own custom web app using Python and Django. <br/>
            Tailored for non-programmers, written by a designer.</h2>

        <a href="" class="btn btn-secondary-outline">Free Sample</a>
        <a href="{% url '/order.html' %}" class="btn btn-primary">Order</a>
    </div>
</div>

<div class="container">

{% endblock content %}
