{% extends "base.html" %}

{% block title %}Press - {{ block.super }}{% endblock %}

{% block content %}

<div class="jumbotron"></div>

<div class="container">
    <h1 class="text-center">Press Mentions</h1>

    <ul class="list-unstyled row">
        <li class="col-md-4">
            <p><strong><a href="http://integritystl.com/hello-web-app-kickstarter/">How a self-taught developer used Kickstarter to launch her first book</a> — Integrity STL</strong></p>
            <blockquote>Hello Web App is a 150 page book that teaches readers to program web applications using Python and Django basics. Behind the project is west coast-based startup founder Tracy Osborn, who taught herself to code five years ago when she had an idea for a new web application. That idea is now her successful startup WeddingLovely.</blockquote>
        </li>
        <li class="col-md-4">
            <p><strong><a href="http://integritystl.com/hello-web-app-kickstarter/">Loop Letters | Tracy Osborn</a> — Lincoln Loop</strong></p>
            <blockquote>Tracy is the author of Hello Web App, a book to help designers and non-programmers get up and running with Python and Django. Tracy comes from a designer background herself and offers a unique and refreshing take on programming in her writing. We asked Tracy all about getting involved with Django, recent talks she's given, any advice she has, and what she enjoys doing away from a screen.</blockquote>
        </li>
        <li class="col-md-4">
            <p><strong><a href="http://thepipe.io/book/hello-web-app-learn-how-to-build-a-web-app">Hello Web App: Learn How to Build a Web App</a>— The Pipe</strong></p>
            <blockquote>Have you ever wanted to develop your own web product? Not just a basic HTML & CSS website design, but rather a complete functional web app with users. This book teaches you how to choose a project, set up a database, create your templates, and launch your app.</blockquote>
        </li>
    </ul>

    <hr />

    <h2>Press Kit</h2>
    <p>September 16th 2015: <br/><a href="https://hellowebapp.com/press-intermediate-concepts-launch">Learning To Code Easier with New Book, Funding on Kickstarter</a></p>
    <hr />

    <div class="row">

        <div class="col-md-9">
            <h2>Press release</h2>
            <p><strong>Contact:</strong><br/>Tracy Osborn<br/>(425) 998-7229</p>
            <p><strong>LEARN HOW TO BUILD YOUR OWN STARTUP WITH NEW SELF-PUBLISHED PROGRAMMING BOOK BY TRACY OSBORN</strong></p>

            <p>May 4, 2015 — Entrepreneur and designer Tracy Osborn has released her first book, Hello Web App, aimed at teaching designers and non-programmers how to code their own web apps.</p>

            <p>"This is the first step in building a new startup or lifestyle business," says Tracy. "With the recent learn-to-code revolution — <a href="http://recode.net/2015/02/14/obama-everybodys-got-to-learn-how-to-code/">promoted by President Obama himself</a> — this is the next step for anyone looking for build their own website."</p>

            <p>Jacob Kaplan-Moss, a core contributor to the Django programming language says, "This is one of the best tutorials I've seen. It's really hands-on, it's very actionable, it's extremely well written, and it looks gorgeous. This book is my go-to pick for when people ask what's the best way to learn Django."</p>

            <p>The book can be purchased from <a href="http://hellowebapp.com/">HelloWebApp.com</a> as well as on <a href="http://amzn.to/1yLsHFH">Amazon</a>.</p>

            <ul>
                <li>Book sample: <a href="http://hellowebapp.com/sample">http://HelloWebApp.com/sample</a></li>
                <li>Book cover: <a href="https://dl.dropboxusercontent.com/u/3118244/hellowebapp-cover.jpg">Click to view</a> (Higher quality image available upon request.)</li>
                <li>Back cover: <a href="https://dl.dropboxusercontent.com/u/3118244/hellowebapp-cover-back.jpg">Click to view</a> (Higher quality images available upon request.)</li>
                <li>Photo: <a href="https://dl.dropboxusercontent.com/u/3118244/hellowebapp-photo.jpg">Click to view</a> (Higher quality images available upon request.)</li>
        </div>
        <div class="col-md-3">
            <h2>Author Bio</h2>
            <p>Tracy Osborn is a designer, developer, and entrepreneur living in the Bay Area of California. Building websites since she was twelve, she always felt an affinity to computers, the internet, and what it brings us.</p>

            <p>Tracy graduated with a BFA in Art &amp; Design with a concentration in Graphic Design from California Polytechnic State University, San Luis Obispo, and worked as a web designer for five years before teaching herself programming and launching her first startup, WeddingLovely, and writing her first book, Hello Web App.</p>

            <p>She's also an avid outdoorswoman, hiking over 200 miles on the John Muir Trail solo in 2014.</p>
        </div>
    </div>
</div>

{% include 'includes/newsletter.html' %}

{% endblock content %}
