{% extends "base.html" %}

{% block title %}Start Here - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Start");
{% endblock %}

{% block bodyclass %}
<body id="start">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>

<div class="container">
    <div class="content-block">
        <h1 class="text-center">Join 2,000+ other first-time programmers<span class="hidden-sm-down"> and other readers of Hello Web App.</span></h1>
        <img src="{% static 'images/me.png' %}" alt="Tracy Osborn" class="pull-right"/>
        <p>Hi, I'm the author, Tracy.</p>
        <p><strong>I taught myself how to program in 2009 because I wanted to launch a startup</strong> and I couldn't find a cofounder. I heard a lot about Python and Django and how easy they were to use, and after six weeks, I launched the first version of my new app, which eventually grew into my startup, <a href="//weddinglovely.com" target="_blank">WeddingLovely</a>.</p>

        <p>It wasn't all magic and rainbows &#8212; I'm a visual learner and I had a hard time understanding most tutorials since I didn't have a technical background. Over five years, I slowly became a better programmer, and <strong>I realized that web app programming could be taught (and should be) taught in a different way to learners like myself.</strong></p>

        <p><strong>Hello Web App is down-to-earth with no nonsense.</strong> The book is written in an informal and friendly tone with no jargon. Many programming books suffer from wordiness and bloat &#8212; <strong>Hello Web App is simply the basics in an easy-to-read and understand manner.</strong></p>
    </div>

    {% comment %}
    <div class="row">
        <h2 class="text-center">Why Hello Web App is awesome</h2>
        <div class="col-md-4 text-center">
            <h3>No jargon</h3>
        </div>
        <div class="col-md-4 text-center">
            <h3>Only the basics</h3>

        </div>
        <div class="col-md-4 text-center">
            <h3>Easy to understand</h3>
        </div>
    </div>
    {% endcomment %}

    <div class="row">
        <h2 class="text-center vertical-margin" style="font-size: 3rem;">Buy the books</h2>
        <div class="col-sm-5">
            <img src="{% static 'images/products/both-books.jpg' %}" alt="Both Hello Web App books" />
        </div>
        <div class="col-sm-7">
            <h3 style="font-size: 2rem;">The Complete Double Hello Web App Package</h3>
            <p>This package contains the entire Hello Web App series &#8212; the paperback books, the videos, and the eBooks. Learn how to build, grow, and monetize your web app all in one purchase.</p>
            <h4>Full contents:</h4>
            <ul>
                <li>Six eBook files &#8212; PDF, .mobi, and .ePub files for both books.</li>
                <li>28 videos &#8212; screencasts walking you through all chapters of the books plus four bonus beginner videos.</li>
                <li>Two gorgeously designed paperback books.</li>
            </ul>
            <p class="text-center vertical-margin">
                <a href="//gum.co/double-hwa-video-pb" class="btn btn-primary buy-button" data-title="Complete Double Video Paperback package" data-price="144">Buy for $144</a>
            </p>
        </div>
    </div>

    <div class="row super-vertical-margin">
        <p class="text-center"><a href="{% url '/order.html' %}" class="btn btn-secondary">See all buying options here, starting at $14.95</a></p>
    </div>
</div>

{% include 'includes/newsletter.html' %}
{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".buy-button").each(function() {
            var link = $(this);
            analytics.trackLink(link, 'Clicked Buy Link', {
                title: $(link).data("title"),
                price: $(link).data("price"),
            });
        });
    });
</script>
{% endblock scripts %}
