{% extends "base.html" %}

{% block title %}Hello Web Design - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Hello Web Design");
{% endblock %}

{% block content %}

<div class="jumbotron"></div>

<div class="container">
    <h1 class="text-center">Hello Web Design</h1>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center" style="margin-bottom: 6rem;">

            <p>Want to hear about when Hello Web Design is released? Sign up here!</a>
            <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/limedaring" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/limedaring', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
        </div>
    </div>
</div>

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
{% endblock scripts %}
