{% extends "base.html" %}

{% block title %}Workshops - {{ block.super }}{% endblock %}


{% block content %}

<div class="container">
    <h1>Workshops</h1>

    <h2>Upcoming Workshops</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Venue/Organizer</td>
                <td>Cost</td>
                <td>More Info</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>(None booked so far!)</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <h2>Past Workshops</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Venue/Organizer</td>
                <td>Cost</td>
                <td>More Info</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sept. 26 2015</td>
                <td><a href="https://hackbrightacademy.com/">Hackbright Academy</a> &#8212; San Francisco, CA</td>
                <td>Free</td>
                <td><a href="http://www.eventbrite.com/e/build-your-first-web-app-with-tracy-osborn-tickets-17559146881?aff=es2">Link</a></td>
            </tr>
            <tr>
                <td>Sept. 6 2015</td>
                <td><a href="http://2015.djangocon.us/">DjangoCon US</a> &#8212; Austin, TX</td>
                <td>$150</td>
                <td><a href="http://2015.djangocon.us/schedule/tutorials/list/">Link</a></td>
            </tr>
            <tr>
                <td>May 31 2015</td>
                <td><a href="http://2015.djangocon.eu/">DjangoCon EU</a> &#8212; Cardiff, Wales, UK</td>
                <td>Free</td>
                <td><a href="http://2015.djangocon.eu/event/django-web-designers/">Link</a></td>
            </tr>
            <tr>
                <td>May 21 2015</td>
                <td><a href="http://rfrshpdx.org/">Refresh Portland</a> &#8212; Portland, OR</td>
                <td>$125</td>
                <td><a href="http://rfrshpdx.org/build-a-web-app-workshop/">Link</a></td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock content %}
