<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/images/favicons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/images/favicons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/images/favicons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/images/favicons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/images/favicons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/images/favicons/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/images/favicons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/images/favicons/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/favicons/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static '/images/favicons/android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static '/images/favicons/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static '/images/favicons/favicon-16x16.png' %}" sizes="16x16">
    <!--<link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">-->
    <link rel="stylesheet" href="{% static '/scss/style.scss.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600,600italic,300italic' rel='stylesheet' type='text/css'>

    {% block header %}
    <title>{% block title %}Hello Web App{% endblock %}</title>
    {% endblock header %}

<script type="text/javascript">
    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=278387(font-family=Mrs+Onion)&key=aUAlZEhS0M',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>
</head>

{% block bodyclass %}
<body>
{% endblock bodyclass %}
    <nav class="container" id="main-nav">
        <div class="row">
            <ul class="list-inline col-sm-4">
                <!--<li><a href="{% url '/about.html' %}">About</a></li>-->
                <li><a href="{% url '/start.html' %}">Start Here</a></li>
                <li><a href="{% url '/faq.html' %}">FAQ</a></li>
                <li><a href="{% url '/archive.html' %}">Blog</a></li>
            </ul>
            <a id="home-link" class="col-sm-4" href="{% url '/index.html' %}">
                <img src="{% static 'images/hellowebapp.svg' %}" alt=""/>
            </a>
            <ul id="right-nav" class="list-inline col-sm-4" style="text-align: right">
                <li><a href="{% url '/workshops.html' %}">Workshops</a></li>
                <li><a href="{% url '/press.html' %}">Press</a></li>
                <li><a href="{% url '/order.html' %}">Buy</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <nav class="container text-center">
        <ul class="list-inline">
            <li><a href="{% url '/donate.html' %}">Donate</a></li>
            <li><a href="//discuss.hellowebapp.com">Discussion Forum</a></li>
        </ul>
    </nav>

    <div class="container text-center">
        <ul class="list-inline social-media-footer">
            <li><a href="//twitter.com/hellowebapp"><i class="fa fa-twitter"></i></a></li>
            <li><a href="//github.com/hellowebapp"><i class="fa fa-github"></i></a></li>
            <li><a href="mailto:tracy@hellowebapp.com"><i class="fa fa-envelope"></i></a></li>
        </ul>
        <p>Hello Web App by Tracy Osborn, &copy; 2015</p>
    </div>

    {% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static '/js/main.js' %}"></script>
    {% endblock scripts %}
</body>
</html>
