<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="6qgsnShfjPXfY1ujiQBVnf-BK8dywp_atWp0bvz2Zb8" />
    {% block header %}
    <title>{% block title %}Hello Web App{% endblock %}</title>
    {% endblock header %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/images/favicons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/images/favicons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/images/favicons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/images/favicons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/images/favicons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/images/favicons/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/images/favicons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/images/favicons/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/favicons/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static '/images/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static '/images/favicons/android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static '/images/favicons/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static '/images/favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="canonical" href="{{ CURRENT_PAGE.absolute_final_url }}" />
    <link rel="stylesheet" href="{% static '/scss/style.scss.css' %}?v=2">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600,600italic,300italic' rel='stylesheet' type='text/css'>
    <!--
    /**
     * @license
     * MyFonts Webfont Build ID 3152187, 2016-01-12T00:10:56-0500
     * 
     * The fonts listed in this notice are subject to the End User License
     * Agreement(s) entered into by the website owner. All other parties are 
     * explicitly restricted from using the Licensed Webfonts(s).
     * 
     * You may obtain a valid license at the URLs below.
     * 
     * Webfont: MrsOnion-Regular by Hipopotam Studio
     * URL: http://www.myfonts.com/fonts/hipopotam/mrs-onion/regular/
     * Copyright: Copyright &#x00A9; 2015 by Aleksandra i Daniel Mizielinscy. All rights
     * reserved.
     * Licensed pageviews: 10,000
     * 
     * 
     * License: http://www.myfonts.com/viewlicense?type=web&buildid=3152187
     * 
     * © 2016 MyFonts Inc
    */

    -->
    <link rel="stylesheet" type="text/css" href="{% static '/fonts/MyFontsWebfontsKit.css' %}">
    <script src="https://use.typekit.net/bnn5job.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
    analytics.load("RYGBe9lnLwGVU8NK5t6tN1SkDdDNL4SC");
    {% block analytics %}
    analytics.page()
    {% endblock %}
    }}();
    </script>
</head>

{% block bodyclass %}
<body>
{% endblock bodyclass %}
    <nav class="container" id="main-nav">
        <div class="row">
            <ul class="list-inline col-sm-4">
                <!--<li><a href="{% url '/about.html' %}">About</a></li>-->
                <li class="hidden-xs-down"><a href="{% url '/start.html' %}">Start Here</a></li>
                <li class="hidden-md-down"><a href="{% url '/faq.html' %}">FAQ</a></li>
                <li class="hidden-sm-down"><a href="{% url '/news.html' %}">Blog</a></li>
            </ul>
            <a id="home-link" class="col-sm-4" href="{% url '/index.html' %}">
                <div>
                    <img src="{% static 'images/hellowebapp.svg' %}" alt=""/>
                </div>
            </a>
            <ul id="right-nav" class="list-inline col-sm-4">
                <li class="hidden-sm-down"><a href="{% url '/workshops.html' %}">Workshops</a></li>
                <li class="hidden-sm-up"><a href="{% url '/start.html' %}">Start Here</a></li>
                <li class="hidden-sm-up"><a href="{% url '/faq.html' %}">FAQ</a></li>
                <li class="hidden-sm-up"><a href="{% url '/news.html' %}">Blog</a></li>
                <li class="hidden-md-down"><a href="{% url '/press.html' %}">Press</a></li>
                <li><a href="{% url '/order.html' %}">Buy</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <div id="footer" class="container text-center">
        <nav id="footer-nav">
            <p>The books</p>
            <ul class="list-inline list-unstyled">
                <li><a href="{% url '/original.html' %}">Hello Web App</a></li>
                <li><a href="{% url '/intermediate-concepts.html' %}">Intermediate Concepts</a></li>
            </ul>

            <p>More links</p>
            <ul class="list-inline list-unstyled">
                <li class="hidden-md-up"><a href="{% url '/faq.html' %}">FAQ</a></li>
                <li class="hidden-sm-up"><a href="{% url '/news.html' %}">Blog</a></li>
                <li class="hidden-sm-up"><a href="{% url '/workshops.html' %}">Workshops</a></li>
                <li class="hidden-md-up"><a href="{% url '/press.html' %}">Press</a></li>
                <li><a href="{% url '/donate.html' %}">Donate</a></li>
                <li><a href="//discuss.hellowebapp.com">Discuss</a></li>
                <li><a href="{% url '/privacy-policy.html' %}">Privacy Policy</a></li>
                <li><a href="{% url '/contact.html' %}">Contact</a></li>
                <li><a href="{% url '/setup.html' %}">Setup</a></li>
                <li><a href="{% url '/order.html' %}">Order</a></li>
            </ul>
        </nav>

        <ul class="list-inline social-media">
            <li><a href="//twitter.com/hellowebapp"><i class="fa fa-twitter"></i></a></li>
            <li><a href="//facebook.com/hellowebapp"><i class="fa fa-facebook"></i></a></li>
            <li><a href="//github.com/hellowebapp"><i class="fa fa-github"></i></a></li>
            <li><a href="mailto:tracy@hellowebapp.com"><i class="fa fa-envelope"></i></a></li>
        </ul>
        <p class="copy">Hello Web App by Tracy Osborn, &copy; {% now "Y" %}</p>
    </div>

    {% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static '/js/main.js' %}"></script>
    {% endblock scripts %}
</body>
</html>
