<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/scss/style.scss.css' %}">

    {% block header %}
    <title>{% block title %}Hello Web App{% endblock %}</title>
    {% endblock header %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url '/archive.html' %}">Articles</a></li>
            <li><a href="{% url '/faq.html' %}">FAQ</a></li>
            <li><a href="{% url '/index.html' %}">Hello Web App</a></li>
            <li><a href="{% url '/workshops.html' %}">Workshops</a></li>
            <li><a href="{% url '/order.html' %}">Order</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock content %}

    <nav>
        <ul>
            <li><a href="{% url '/about.html' %}">About</a></li>
            <li><a href="{% url '/donate.html' %}">Donate</a></li>
        </ul>
    </nav>

    <p>&copy; Copyright 2015, Tracy Osborn</p>

    {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static '/js/main.js' %}"></script>
    {% endblock scripts%}
</body>
</html>
