{% extends "base.html" %}
{% block title %}{{ title }} - {{ block.super }}{% endblock title %}
{% block bodyclass %}
<body id="post">
{% endblock %}
{% block content %}

<section id="wrapper" class="group">
    {% if featuredimage %}
    <div class="jumbotron" style="background-image: url('/static/{{ featuredimage }}')">
    </div>
    {% endif %}

    {% comment %}
    <header id="header" class="container">
        <a id="title" href="/">Home</a>
    </header>
    {% endcomment %}

    <article class="post container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-2">
                <header>
                    <h1>{{ title }}</h1>
                    <h2 class="headline">{{ headline }}</h2>
                </header>

                <section id="post-body">
                    {% block body %}
                    This is where the post contents is.
                    {% endblock body %}
                </section>

                <footer id="post-meta" class="clearfix">
                    <div><span>Posted on </span> {{ date|date:"M j" }}</div>
                    <div><span>Written by</span> {{ author }}</div>
                    {% comment %}
                    {% endcomment %}

                    <section id="sharing">
                        <span>Share</span>
                        <a class="twitter" href="https://twitter.com/share"><i class="fa fa-twitter"></i></a>

                        <a class="facebook" href="#" onclick="
                            window.open(
                            'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                            'facebook-share-dialog', 
                            'width=626,height=436'); 
                            return false;"><span class="fa fa-facebook"></span> 
                        </a>
                    </section> 
                </footer>
            </div>
            <div class="col-lg-3">
                <p>Share buttons</p>
            </div>
        </div>
    </article>

    <footer class="container">
        <nav id="post-nav">
            <span class="prev">
                {% if prevPost %}
                <a href='/{{ prevPost.path }}'>
                    <span class="arrow">&larr;</span> {{ prevPost.title }}
                </a>
                {% endif %}
            </span>


            <span class="next">
                {% if nextPost %}
                <a href='/{{ nextPost.path }}'>
                    {{ nextPost.title }} <span class="arrow">&rarr;</span>
                </a>
                {% endif %}
            </span>
        </nav>
    </footer>
</section> 

{% endblock content %}
