{% extends "base.html" %}
{% block title %}{{ title }} - {{ block.super }}{% endblock title %}
{% block bodyclass %}
<body id="post" class="{{ title|slugify }}">
{% endblock %}
{% block content %}

<section id="wrapper" class="group">
    {% if featuredimage %}
    <div class="jumbotron" style="background-image: url('/static/{{ featuredimage }}'); height: 20em;"></div>
    {% else %}
    <div class="jumbotron"></div>
    {% endif %}

    {% comment %}
    <header id="header" class="container">
        <a id="title" href="/">Home</a>
    </header>
    {% endcomment %}

    <article class="post container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-2">
                <header>
                    <h1>{{ title }}</h1>
                    <h2 class="headline">{{ headline }}</h2>
                </header>

                <section id="post-body">
                    {% block body %}
                    This is where the post contents is.
                    {% endblock body %}
                </section>

                <footer id="post-meta" class="clearfix">
                    <div><span>Posted on </span> {{ date|date:"M j" }}</div>
                    <div><span>Written by</span> {{ author }}</div>
                    {% comment %}
                    {% endcomment %}

                    <section class="sharing">
                        <div>
                            <span>Share</span>
                            <a class="twitter" href="http://twitter.com/home/?status={{ title }} https://hellowebapp.com/{{ path|cut:".html" }}/ (via @hellowebapp)"><i class="fa fa-twitter"></i></a>

                            <a class="facebook" href="#" onclick="
                                window.open(
                                'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                                'facebook-share-dialog', 
                                'width=626,height=436'); 
                                return false;"><i class="fa fa-facebook"></i> 
                            </a>
                            <a class="mail" href="mailto:?subject={{ title }}&amp;body=Here's the link: https://hellowebapp.com/{{ path|cut:".html" }}/"><i class="fa fa-envelope"></i></a>
                        </div>
                        <span>Subscribe</span>
                        <div id="mc_embed_signup">
                            <form action="//hellowebapp.us3.list-manage.com/subscribe/post?u=65146251a5ccb429e109f902f&amp;id=f0a7b0a10c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div class="mc-field-group form-group">
                                        <input type="email" value="" name="EMAIL" class="required email form-control form-control-sm" id="mce-EMAIL" placeholder="Email address">
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65146251a5ccb429e109f902f_f0a7b0a10c" tabindex="-1" value=""></div>
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-sm">
                                    <div id="mce-responses">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section> 
                </footer>

                {% include 'includes/disqus.html' %}

                {% comment %}
                <footer class="container">
                    <nav id="post-nav">
                        <span class="prev">
                            {% if prevPost %}
                            <a href='/{{ prevPost.path }}'>
                                <span class="arrow">&larr;</span> {{ prevPost.title }}
                            </a>
                            {% endif %}
                        </span>


                        <span class="next">
                            {% if nextPost %}
                            <a href='/{{ nextPost.path }}'>
                                {{ nextPost.title }} <span class="arrow">&rarr;</span>
                            </a>
                            {% endif %}
                        </span>
                    </nav>
                </footer>
                {% endcomment %}
            </div>
            <div class="col-lg-3 hidden-md-down sharing top-sharing">
                <h5 class="share-header">
                    Share:
                </h5>
                <ul class="list-inline">
                    <li><a href="http://twitter.com/home/?status={{ title }} https://hellowebapp.com/{{ path|cut:".html" }}/ (via @hellowebapp)"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="facebook" href="#" onclick="
                        window.open(
                        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                        'facebook-share-dialog', 
                        'width=626,height=436'); 
                        return false;"><i class="fa fa-facebook"></i> 
                    </a>
                    </li>
                    <li><a href="mailto:?subject={{ title }}&amp;body=Here's the link: https://hellowebapp.com/{{ path|cut:".html" }}/"><i class="fa fa-envelope"></i></a></li>
                </ul>
                <h5>
                    Subscribe for news and updates:
                </h5>
                <div id="mc_embed_signup">
                    <form action="//hellowebapp.us3.list-manage.com/subscribe/post?u=65146251a5ccb429e109f902f&amp;id=f0a7b0a10c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="form-group">
                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="required email form-control form-control-sm" id="mce-EMAIL" placeholder="Email address">
                            </div>
                        <!-- do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65146251a5ccb429e109f902f_f0a7b0a10c" tabindex="-1" value=""></div>
                        <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-sm">
                        <div id="mce-responses">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</section> 

{% include 'includes/newsletter.html' %}
{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
{% endblock scripts %}
