// Variable overrides
$font-family-sans-serif:     "PT Sans", Helvetica, Arial, sans-serif !default;
$link-color:                 #8a9a0f;
$font-size-base:             1.25rem !default;

@import "bootstrap";


body {
    background-color: #fff;
}

h1 {
    font-family: "Rock Salt", Georgia, cursive;
}

#main-nav {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1em;
    a { color: $gray-dark }
    #home-link {
        font-weight: bold;
    }
}
