// bootstrap variable overrides
$font-family-sans-serif:     'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$font-family-serif:          "freight-text-pro", Georgia, "Times New Roman", Times, serif !default;
$font-family-display:        "MrsOnion-Regular", Georgia, cursive;
$font-family-display-alt:    "Open Sans Condensed", "Source Sans Pro", Helvetica, Arial, sans-serif !default;
$font-family-base:           $font-family-serif !default;
$headings-font-weight:       300 !default;
$font-size-base:             1.3rem !default;

$body-color:                 #666 !default;
$headings-color:             #111 !default;
$enable-rounded:             true !default;
$border-radius:              0 !default;

$brand-primary-dark:         #a5bb00 !default;
$brand-primary:              #e6c24d !default;
$brand-secondary:            #498D90 !default;

$gray-lightish:              #ccc !default;
$gray-lightisher:            #aaa !default;
$gray-superlight:            #e1e1e1;
$default-banner:             #eceeef;
//$default-banner:             lighten(#8a9a0f, 40%);

$link-color:                 darken($brand-primary, 15%);

$btn-border-radius:          0;
//$btn-secondary-color:        #fff;
//$btn-secondary-border:       #fff !default;
$btn-font-weight:            400 !default;
$btn-padding-x:              1.2rem;
$btn-padding-y:              1rem;

//$grid-gutter-width:          4rem !default; // 30px

// Fonts I like
// Mrs Onion
// Drina


// bootstrap and font-awesome 
@import "bootstrap";
@import "font-awesome";

// new styles
body { 
    background-color: #fff; 
    font-weight: 300; 
}

@include media-breakpoint-down(sm) {
    body {
        font-size: 1.1rem;
    }
}

h1 { 
    font-family: $font-family-display; 
    //text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
}

h1 { 
    clear: left; 
    margin-top: 0.7em;
    margin-bottom: 1.3em;
}
h2 {
    font-style: italic;
    margin-top: 1.3em;
    margin-bottom: 0.7em;
    a {
        //background-position: 0 2.5rem !important;
        //background-size: 1px 1px;
    }
}
h3 {
    font-family: $font-family-display-alt;
    font-weight: bold;
    font-size: 1.4rem; 
    //color: $gray;
    a {
        //background-position: 0 2.5rem;
        //background-size: 1px 1px;
    }
}
h4 {
    font-weight: 700; 
}
h5 {
    font-style: italic;
}
p {
    margin-bottom: 1.5rem; 
    a {
        //background-position: 0 1.5rem;
        //background-size: 1px 1px;
    }
}
td a, li a, dd a {
    //background-position: 0 1.5rem;
    //background-size: 1px 1px;

}
img { max-width: 100%; }
strong { color: $gray-dark; }
p code { font-size: 1rem; }
ul { list-style-type: circle; }
pre {
    margin-bottom: 2em;
    margin-top: -1em;
    code { 
        font-size: 1rem;
        padding: 0 !important;
    }
    code:first-line { line-height: 0px; }
}

thead {
    font-weight: bold;
}

blockquote {
    border-left: 1px solid $brand-primary;
    padding-left: 1em;
    font-style: italic;
}
small {
    line-height: 1.4;
}
dt {
    color: $headings-color;
    font-weight: normal;
    font-size: 2rem;
    font-style: italic;
}
dd {
    margin-top: 0.5em;
    margin-bottom: 2em;
}
@include media-breakpoint-down(sm) {
    h1 {
        margin-top: 0;
        font-size: 2rem;
    }
    dt {
        font-size: 1.5rem;
    }
}

a {
    text-decoration: none;
    color: $body-color;
    //background-image: linear-gradient(#fff 50%, $body-color 50%);
    background-image: linear-gradient(to top,
        rgba(0,0,0,0) 11%,
        rgba(0,0,0,.3) 11%,
        rgba(0,0,0,.3) 16%,
        rgba(0,0,0,0) 16%
    );
    //background-repeat: repeat-x;
    &:hover {
        color: $brand-primary-dark;
        //background-image: linear-gradient(#fff 50%, $brand-primary-dark 50%);
        text-decoration: none;
    }
    //&:visited {
    //    color: $brand-primary;
    //    background-image: linear-gradient(#fff 50%, $brand-primary 50%);
    //}
}

@include media-breakpoint-down(sm) {
    a {
        text-decoration: underline;
    }
}

.gist a, nav a, .social-media a, .btn, .sharing a { 
    background-image: none; 
    &:hover { background-image: none; }
}

.btn {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    padding: .7rem 1.4rem;
    font-family: $font-family-sans-serif;
    white-space: normal;
    text-decoration: none;
}

.btn-sm {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.3rem 0.9rem 0.4rem 0.9rem;

}

.btn-secondary, .btn-secondary-outline {
    border-width: 3px;
}

.btn-secondary-outline:hover {
    background-color: transparent !important;
}

.vertical-margin {
    margin-top: 1em;
    margin-bottom: 1em;
}

.super-vertical-margin {
    margin-top: 2em;
    margin-bottom: 2em;
}

.clear {
    clear: both;
}

hr {
    border-top: 1px solid $gray-superlight;
    height: 3px;
    margin: 2.2em 0 2em 0;
}

form input {
    padding: 1em 1.3em;
    font-size: 1rem;
    color: $gray;
    border: 1px solid $gray-lightish;
    font-family: $font-family-sans-serif;
}

.container-fluid.photo-row {
    margin: 2em 0;
    padding-left: 0;
    .row {
        margin-left: -5px;
    }
    .col-sm-3 {
        padding-left: 5px;
        padding-right: 0;
        padding-top:5px;
    }
}

.small-sans {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0;
    letter-spacing: 0.1em;
    color: $gray-lightisher;
    font-size: 1rem;
    margin-bottom: 5px;
}

// new CSS bits
.content-block {
    max-width: 800px;
    margin-left: auto !important;
    margin-right: auto !important;
}

#main-nav {
    margin-bottom: -20px;
    background-color: #fff;
    font-weight: 400;
    a {
        color: $gray;
        text-decoration: none;
        &:hover {
            color: $link-color;
        }
    }
    a:hover { text-decoration: none; }
    li {
        margin-top: 13px;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.1em;
        font-family: $font-family-display; 
        a {
            padding: 10px 1.5em 10px 0;
        }
    }
    #home-link {
        background-color: #fff;
        div {
            padding: 15px 10px 18px 10px;
        }
        img {
            max-width: 100%;
        }
    }
    #right-nav {
        padding: 0 0 0 1.5em;
        text-align: right;
    }
}

@include media-breakpoint-down(sm) {
    #main-nav {
        margin-bottom: -13px;
        li {
            margin-top: 7px;
        }
        #home-link {
            padding: 0;
            div {
                padding-top: 5px;
                padding-bottom: 7px;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    #main-nav, #main-nav #right-nav {
        text-align: center;
    }
}

.jumbotron { 
    background-color: $default-banner;
    border-radius: 0;
    padding: 3rem 2rem;
    h1 {
        color: #fff; 
        font-size: 5rem;
        font-weight: 700;
        margin-top: 0;
    }
    h2 {
        line-height: 1.6;
        margin-bottom: 1em;
        font-style: normal;
        color: #fff;
        color: rgba(255,255,255,0.9);
        font-size: 2rem;
        font-weight: 400;
        font-family: $font-family-display-alt;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-secondary-outline {
        color: #fff;
        border-color: #fff;
        padding: 9px 25px;
        &:hover {
            border-color: #ccc;
        }
    } 
}

@include media-breakpoint-down(md) {
    .jumbotron {
        height: auto !important;
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 1.5rem;
        }
        .btn {
            font-size: 1rem;
        }
    }
}


@include media-breakpoint-down(sm) {
    .jumbotron {
        padding: 1.5rem 2rem;
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.4rem;
        }
    }
}

.thumbnail {
    height: 200px;
    line-height: 200px;
    background-color: $gray-lighter;
    overflow: hidden;
    border: 1px solid $gray-lighter;
}
// newsletter
.newsletter {
    background-color: $brand-secondary;
    padding: 2em 0;
    margin: 3em 0 0 0;
    color: #fff;
    h4 {
        color: #fff;
        font-size: 2rem;
        padding-top: 1.1em;
    }
    p {
        font-size: 1.2rem;
        padding-top: 0.8em;
        color: rgba(255,255,255,0.8);
        letter-spacing: 0.03em;
    }
    .mc-field-group {
        display: inline-block;
        margin-bottom: 5px;
        input { width: 250px; }
    }
}

#newsletter-iframe {
    border: 0 !important;
    width: 100%;
    height: 130px;
    //overflow: hidden;
}

// footer
.social-media {
    a {
        color: $headings-color !important;
    }
    a:hover {
        color: $brand-primary !important;
    }
}

#footer {
    #footer-nav {
        p {
            text-transform: uppercase;
            font-family: $font-family-sans-serif;
            letter-spacing: 0.15em;
            margin: 0;
            font-size: 0.8rem;
            margin-top: 3em;
            font-weight: 500;
            color: $gray-lightish;
        }
        ul {
            margin: 0 0 0.9em 0;;
            li {
                margin: 0 0.5em;
                a {
                    color: $headings-color;
                    text-transform: uppercase;
                    font-family: $font-family-display;
                    font-size: 0.8rem;
                    text-decoration: none;
                    &:hover {
                        color: $link-color;
                    }
                }
            }
        }
    }
    p.copy {
        margin-top: 2em;
        font-size: 0.7em;
        color: $gray-light;
    }
}

// homepage
#home {
    .jumbotron {
        // background: url(../images/heros/home-yellow-grad.jpg) center center no-repeat;
        // background-size: cover;
        background-color: #498D90; 
        // height: 30em;
        padding: 8rem 2rem;
        color: #fff;
        h1 {
            margin-bottom: 0.2em;
            // margin-top: 0.5em;
        }
    }
    hr {
        margin: 4rem 0;
    }
    .packages {
        h4 a {
            color: #111;
            text-decoration: none;
            background-image: none;
            &:hover {
                color: $link-color;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    #home {
        .jumbotron {
        }
    }
}

@include media-breakpoint-down(sm) {
    #home {
        .jumbotron {
            padding: 2rem 2rem 3rem 2rem;
            height: auto;
            margin-bottom: 0;
            br {
                display: none;
            }
        }
        hr {
            margin: 2em 0;
        }
    }
}

.quotes blockquote {
    font-style: italic;
    font-family: $font-family-serif;
    font-size: 1.1rem;
    text-align: center;
    border-left: 0;
    p {
        margin-bottom: 0.5em;
    }
    footer {
        font-style: normal;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $gray-light;
    }
}

#featured-post-list {
    li {
        margin-bottom: 2em;
        text-align: center;
        .dates {
            font-family: $font-family-sans-serif;
            color: $gray-light;
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 0.1em;
        }
        h5 {
            margin-top: 0.5em;
            a {
                background-image: none; 
                color: $link-color;
            }
        }
    }
    a {
        text-decoration: none;
    }
    li:nth-child(3n+1) {
        clear:left;
    }
    li:nth-child(1n+7) {
        display: none;
    }
}

// ic landing page
#original {
    .jumbotron {
        background: url(../images/heros/original.jpg) top left no-repeat;
        background-size: cover;
        height: 33em;
        padding-top: 8em;
        color: #fff;
        h1 {
            margin-bottom: 0.2em;
        }
    }
}

// ic landing page
#ic {
    .jumbotron {
        background: url(../images/heros/ic-2.jpg) top center no-repeat;
        background-size: cover;
        height: 33em;
        padding-top: 8em;
        color: #fff;
        h1 {
            margin-bottom: 0.2em;
        }
    }
}

@include media-breakpoint-down(md) {
    #ic .jumbotron, #original .jumbotron {
        padding-top: 4em;
        padding-bottom: 3em;
    }
}

@include media-breakpoint-down(sm) {
    #ic .jumbotron, #original .jumbotron {
        padding-top: 2em;
        height: 25em;
        margin-bottom: 0;
    }
    #ic .jumbotron {
        height: 26em;
    }
}

.table-of-contents {
    li {
        margin: 1em 0;
    }
}

// setup and tutorials page

#setup, #tutorial {
    .toc li li {
        font-style: italic;
        font-size: 80%;
        margin-top: 2px;
    }
    pre {
        margin: 1em 0 1em -15px;
        code {
            background-color: #f7f7f7;
            padding: 13px 15px !important;
            span.cmd {
                color: #999;
                color: rgba(0,0,0,0.4);
            }
            .hljs-built_in { color: #4d4d4c !important; }
        }
    }
    h3 {
        font-size: 1.6rem;
        margin: 1.5em 0 0.5em 0;
    }
    li code {
        font-size: 80%;
    }
}

#tutorial pre { margin-top: -1em; }
#tutorial pre code.sh, #tutorial pre code.codespace { margin-top: 1em; }

.setup-sidebar {
    padding-right: 40px;
    code {
        font-size: 0.8rem;
        padding: .1rem .2rem;
        font-style: normal;
    }
}

// workshops landing page
#workshops {
    .jumbotron {
        background: url(../images/heros/workshop.jpg) center -300px no-repeat;
        background-size: 100% cover;
        height: 23em;
    }
    h2 {
        margin: 2em 0 1em 0;
    }
}

// start landing page
#start {
    .jumbotron {
        background: url(../images/heros/start.jpg) bottom center no-repeat;
        background-size: cover;
        height: 19em;
        h1 {
            font-size: 5rem;
            margin-bottom: 0;
            margin-top: 1em;
        }
        h2 {
            margin: 1em auto 1em auto;
            color: #fff;
            font-family: $font-family-display-alt;
            font-size: 2.2rem;
            max-width: 600px;
        }
    }
}

// order landing page
#order {
    .jumbotron {
        background: url(../images/heros/both-books.jpg) center center no-repeat;
        background-size: cover;
        height: 15em;
    }
    .packages {
        h3 {
            margin: 15px 0 0 0;
        }
        p {
            margin: 5px 0 10px 0;
            font-size: 1.2rem;
        }
        .intro {
            margin-bottom: 2em;
            h2 {
                margin-bottom: 5px;
                margin-top: 0.5em;
            }
            p {
                max-width: 700px;
                margin: 0 auto;
            }
        }
    }
    .sub-packages {
        margin-bottom: 3em;
        border-bottom: 1px solid $gray-superlight;
        padding-bottom: 3em;
    }
    #original, #ic, #both {
        display: none;
        &:target {
            display: block;
        }
    }
    figure.video {
        padding-bottom: 50%;
    }
}

// main blog page
#archive-list {
    li {
        border-bottom: 1px solid #ddd;
        padding-bottom: 1em;
        margin-bottom: 2em;
        .thumbnail {
            margin-bottom: 15px;
        }
        .dates {
            font-family: $font-family-sans-serif;
            text-transform: uppercase;
            color: $gray-light;
            font-size: 0.8rem;
            letter-spacing: 0.1em;
            margin-bottom: 7px;
        }
        h2 {
            font-family: $font-family-display-alt;
            font-style: normal;
            font-weight: 700;
            margin: 0 0 0.5em 0;
            a {
                color: $headings-color;
                background-image: none;
                text-decoration: none;
            }
        }
        .excerpt { margin-bottom: 0.4em; }
        .readmore {
            margin-top: 0;
        }
    }
}

.right-sidebar {
    .social-media {
        margin-top: 1.5em;
        text-align: center;
        a {
            font-size: 1.5rem;
        }
    }
}

.blog-newsletter {
    h2 {
        margin-bottom: 0.5em;
    }
    input[type="email"] {
        max-width: 250px;
        margin: 0 auto 0.5em auto;
    }
}

.sub-categories {
    line-height: 1.1;
    margin-top: 3em;
    h2 {
        margin-bottom: 0.5em;
    }
    h3 {
        font-weight: normal;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.1em;
        margin-top: 1.5em;
        font-weight: bold;
    }
    ul {
        margin-bottom: 2em;
        li {
            margin: 1em 0;
            //text-align: center;
            a {
                background-image: none;
                font-family: $font-family-sans-serif;
                font-size: 1.1rem;
                color: $link-color;
            }
        }
    }
}

.sharing {
    h5 {
        color: $gray-light;
        font-size: 1rem;
        font-family: $font-family-sans-serif;
    }
    .share-header {
        margin-top: 1em;
        margin-bottom: 0.2em;
    }
    a {
        color: $link-color;
    }
    a:hover {
        color: darken($link-color, 10%);
    }
    .mc-field-group {
        input[type="email"] {
            width: 150px;
            margin-right: 5px;
            float: left;
        }
    }
    input[type="submit"] {
        position: relative;
        top: -2px;
    }
}

.top-sharing {
    .mc-field-group {
        display: inline-block;
    }
    input[type="submit"] {
        top: -10px;
        padding-left: 7px;
        padding-right: 7px;
    }
}

#tutorial {
    figure img {
        border: 1px solid #ccc;
    }
    .cmd {
       -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;

       /*
         Introduced in IE 10.
         See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
       */
       -ms-user-select: none;
       user-select: none;
    }
}

#post, #tutorial {
    figure {
        margin: 2em 0;
        position: relative;
        figcaption {
            font-size: 1rem;
            color: $gray-light;
            padding-top: 0.5em;
            font-family: $font-family-sans-serif;
        }
    }
    figure.full {
    }
    figure.caption {
        figcaption {
            top: 0;
            border-top: 1px solid $gray-lighter;
        }
    }
}

#tutorial-toc {
    li {
        margin: 1em 0;
        span {
            text-transform: uppercase;
            font-family: $font-family-sans-serif;
            display: block;
            font-size: 0.8rem;
            letter-spacing: 0.1em;
            margin: -5px 0;
        }
    }
}

// posts
#post {
    .jumbotron {
        background-size: cover;
        background-position: center center;
    }
    header {
        margin-bottom: 2em;
        h1 {
            margin-bottom: 1em;
        }
        h2 {
            font-size: 1.5rem;
            color: $gray;
        }
    }
    h2 {
        margin-bottom: 0.5em; 
        margin-top: 1em;
    }
    #post-body p a {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    blockquote {
        text-align: left;
        border-left: 1px solid $brand-primary;
        padding-left: 2em;
        font-size: 1.3rem;
        margin: 2em 0;
    }
    #post-meta {
        border-top: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;
        margin-bottom: 2em;
        padding: 1.5em 0 1.3em 0;
        color: $gray-light;
        font-size: 1rem;
        span {
            font-weight: bold;
            width: 100px;
            display: inline-block;
            clear: left;
        }
        i { margin-right: 5px; }
        #mc_embed_signup {
            display: inline-block;
            width: 300px;
            vertical-align: top;
            form {
                position: relative;
                top: -15px;
                input[type="email"] { padding: 0.1em 0.3em; }
                .btn-sm {
                    padding: 2px 6px 2px 6px;
                    position: relative;
                    top: 0px;
                }
            }
        }
    }
}

/* a couple other places have a video so removed from the .post scope */
figure.video {
    position: relative;
    padding-bottom: 90%; /* to fit original ks video */
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@include media-breakpoint-up(xl) {
    #post {
        figure {
        }
        figure.full {
            margin-left: -208px;
            margin-right: -304px;
            figcaption {
                margin-left: 208px;
            }
        }

        figure.caption {
            margin-right: -304px;
            figcaption {
                position: absolute;
                left: -208px;
                max-width: 188px;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    #post {
        figure.full {
            margin-left: -208px;
            margin-right: -288px;
        }
        figure.caption {
            margin-right: -255px;
            figcaption {
                position: absolute;
                left: -208px;
                max-width: 155px;
            }
        }
    }
}

/* NAG BAR 
#nag-bar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:35px;
    background-color: #F48E54;
    text-align: center;
    a {
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1em;
        font-size: 0.7rem;
        color: #fff;
        border-bottom: 0;
        background-image: none;
        text-decoration: none;
    }
    a:hover {
        color: darken(#fff, 5%);
    }
}

@include media-breakpoint-up(sm) {
    #nag-bar a { font-size: 1rem; }
}

body {
    padding-top: 30px;
}
*/


// Individual post overrides

// posts that need a "featured image" for the blog page but not on their actual pages
.tutorial-setting-up-the-password-change-functionality,
.hello-web-app-has-been-updated-for-django-19,
.hello-web-app-intermediate-concepts-is-on-product-hunt-today,
.hello-web-apps-kickstarter-campaign-how-i-did-it-what-i-regret,
.tutorial-how-to-set-up-a-contact-form-with-django,
.two-workshops-scheduled-for-may,
.the-hello-web-app-intermediate-concepts-kickstarter-ends-in-less-than-a-week,
.kickstarter-alpha-has-been-updated,
.hello-web-app-is-on-product-hunt-today,
.first-round-of-books-are-here-from-the-printer,
.curious-about-the-videos-in-the-complete-hello-web-app-package-i-made-a-trailer,
.announcing-hello-web-app-intermediate-concepts-and-the-kickstarter-campaign,
.preview-of-hello-web-app-intermediate-concepts,
.announcing-hello-web-design-and-the-kickstarter-campaign,
.hello-web-app-is-now-free-to-read-online-during-the-hello-web-design-kickstarter,
.hello-web-app-has-a-new-website {
    .jumbotron {
        background-image: none !important;
        height: 3em !important;
    }
}
